<!-- /templates/customers/login.liquid -->
<main class="page account">
    <div class="page__container">
        <h1 class="account__heading page__heading heading_1"><span>{{ 'customer.login.title' | t }}</span><span style="display: none;">{{ 'customer.recover_password.title' | t }}</span></h1>
      <div class="form" id="CustomerLoginForm">
        {% form 'customer_login' %}

            <p id="ResetSuccess">{{ 'customer.recover_password.success' | t }}</p>

            {{ form.errors | default_errors }}

            <div class="form__field">
                <label for="CustomerEmail" class="form__label">{{ 'customer.login.email' | t }}</label>
                <input type="email" name="customer[email]" id="CustomerEmail" class="input input--text input-full{% if form.errors contains 'email' %} error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>
            </div>

            {% if form.password_needed %}
                <div class="form__field">
                    <label for="CustomerPassword" class="form__label">{{ 'customer.login.password' | t }}</label>
                    <input autocomplete="new-password" type="password" value="" name="customer[password]" id="CustomerPassword" class="input input--text input-full{% if form.errors contains 'password' %} error{% endif %}">
                </div>
            {% endif %}

            <input type="submit" class="button button--black" value="{{ 'customer.login.sign_in' | t }}">

            {% if form.password_needed %}
                <p class="login-links">
                    <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
                </p>
                <hr>
            {% endif %}

        {% endform %}
        <p class="login-links">
            {{ 'layout.customer.create_account' | t | customer_register_link }}<br><br>
            <a href="{{ shop.url }}" class="cancel">{{ 'customer.login.cancel' | t }}</a>
        </p>
      </div>




      <div class="form" id="RecoverPasswordForm" style="display: none;">
        {% form 'recover_customer_password' %}

            {% if form.posted_successfully? %}
                {% assign resetPassword = true %}
                <p id="RecoverPasswordSuccessMessage">{{ 'customer.recover_password.success' | t }}</p>
            {% else %}
                <p class="body_text--medium" id="RecoverPasswordInfo">{{ 'customer.recover_password.subtext' | t }}</p>
            {% endif %}

            {{ form.errors | default_errors }}



            <div class="form__field">
                <label for="RecoverEmail" class="form__label">{{ 'customer.recover_password.email' | t }}</label>
                <input type="email" name="email" id="RecoverEmail" class="input input--text input-full{% if form.errors contains 'email' %} error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>
            </div>

            <input type="submit" class="button button--black" value="{{ 'customer.recover_password.submit' | t }}">

            <p>
                <a href="#cancel" id="HideRecoverPasswordLink" class="cancel login-links">{{ 'customer.recover_password.cancel' | t }}</a>
            </p>

        {% endform %}

      </div>

        {% comment %}
          If accounts are set as optional, the following will be shown as an option
          during checkout, not on the default /login page.
        {% endcomment %}
        {% if shop.checkout.guest_login %}
          <hr>

          <h2>{{ 'customer.login.guest_title' | t }}</h2>

          {% form 'guest_login' %}
            <input type="submit" class="button solid" value="{{ 'customer.login.guest_continue' | t }}">
          {% endform %}
        {% endif %}
    </div>
</main>

<script>
  /*
    Show/hide the recover password form when requested.
  */
  function toggleResetPasswordForm() {
    $('#RecoverPasswordForm, #CustomerLoginForm, .account__heading span').toggle();
}

  // Allow deep linking to the recover password form
  if (window.location.hash == '#recover') {
      toggleResetPasswordForm();
  }

  if ($('#RecoverPasswordSuccessMessage').length > 0) {
      toggleResetPasswordForm();
  }

  $('#RecoverPassword, #HideRecoverPasswordLink').on('click', toggleResetPasswordForm);

  // reset_success is only true when the reset form is
  {% if reset_success %}
    document.getElementById('ResetSuccess').style.display = 'block';
  {% endif %}


</script>
