<!-- /templates/customers/register.liquid -->

<main class="page account">
    <div class="page__container">
        <h1 class="page__heading heading_1">{{ 'customer.register.title' | t }}</h1>
        <div class="form">
            {% form 'create_customer' %}

            {{ form.errors | default_errors }}

            <div class="form__field">
                <label for="FirstName" class="form__label">{{ 'customer.register.first_name' | t }}</label>
                <input type="text" name="customer[first_name]" id="FirstName" class="input input--text" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
            </div>

            <div class="form__field">
                <label for="LastName" class="form__label">{{ 'customer.register.last_name' | t }}</label>
                <input type="text" name="customer[last_name]" id="LastName" class="input input--text" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
            </div>
            <div class="form__field">
                <label for="Email" class="form__label">{{ 'customer.register.email' | t }}</label>
                <input type="email" name="customer[email]" id="Email" class="input input--text{% if form.errors contains 'email' %} error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
            </div>
            <div class="form__field">
                <label for="CreatePassword" class="form__label">{{ 'customer.register.password' | t }}</label>
                <input type="password" autocomplete="new-password" name="customer[password]" id="CreatePassword" class="input input--text{% if form.errors contains 'password' %} error{% endif %}">
            </div>

            <input type="submit" value="{{ 'customer.register.submit' | t }}" class="button button--black">
            <hr>
            <p>
                <a class="login-links" href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
            </p>

            {% endform %}
        </div>
    </div>
</main>
