<!-- /templates/customers/reset_password.liquid -->

<main class="page account">
    <div class="page__container">
        <h1 class="page__heading heading_1">{{ 'customer.recover_password.title' | t }}</h1>

        <div class="form">
            <p class="form__info body_text--medium">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
            {% form 'reset_customer_password' %}

            {{ form.errors | default_errors }}

            <div class="form__field">
                <label for="password" class="form__label">{{ 'customer.reset_password.password' | t }}</label>
                <input id="password" type="password" value="" name="customer[password]" size="16" class="input input--text input-full{% if form.errors contains 'password' %} error{% endif %}" />
            </div>

            <div class="form__field">
                <label for="password_confirmation" class="form__label">{{ 'customer.reset_password.password_confirm' | t }}</label>
                <input id="password_confirmation" type="password" value="" name="customer[password_confirmation]" size="16" class="input input--text input-full{% if form.errors contains 'password' %} error{% endif %}" />
            </div>

            <input type="submit" class="button button--black" value="Reset Password" />
            <p class="login-links">
                <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
            </p>
            {% endform %}
        </div>
    </div>
</main>
