<!DOCTYPE html>

<html lang="en">
<head>

	<!-- BASE -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

	<!-- SITE TITLE -->
	<title>{{ page_title }} | {{ shop.name }}</title>

	<!-- DESCRIPTION -->
	<meta name="description" content="{{ page_description | escape }}">

	<!-- AUTHOR -->
	<meta name="author" content="">

	<!-- KEYWORDS -->
	<meta name="keywords" content="">

	<!-- FONTS -->
	<script src="https://use.typekit.net/cwy5eml.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- CSS -->
    {{ 'main.css' | asset_url | stylesheet_tag }}

	<!-- FAVICONS -->

    <!-- Header hook for plugins -->
    {{ content_for_header }}
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	{{ 'option_selection.js' | shopify_asset_url | script_tag }}
	{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
	{{ 'customer_area.js' | shopify_asset_url | script_tag }}
	{{ 'jquery.selectric.min.js' | asset_url | script_tag }}
</head>
<body class="website template-{{ template }}" data-side="">
	<div id="website">
		<!-- Fullscreen fixed frame -->
		<div class="frame frame--top"></div>
		<div class="frame frame--right"></div>
		<div class="frame frame--bottom"></div>
		<div class="frame frame--left"></div>

		<!-- Fulscreen main navigation -->
		{%- include 'header' -%}
		{%- include 'switch' -%}

		{{ content_for_layout }}
	</div>
    <!-- SCRIPTS BEGIN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/easing/EasePack.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenLite.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/ScrollToPlugin.min.js"></script>
	<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
	{{ 'slick.min.js' | asset_url | script_tag }}
	{{ 'main.js' | asset_url | script_tag }}
	{{ 'rivets-cart.min.js' | asset_url | script_tag }}
	<script type="text/javascript">
        jQuery(function() {
            CartJS.init({{ cart | json }});
        });
    </script>
</body>
</html>
