<!-- /templates/customers/account.liquid -->
<main class="page account">
    <div class="page__container">
        <h1 class="page__heading heading_1">{{ 'customer.account.title' | t }}</h1>
        <p class="account__hello body_text">
            Hello {{ customer.name }}
        </p>

        <div class="account__info">
            <h3 class="heading_4">{{ 'customer.orders.title' | t }} ({{ customer.orders.size }})</h3>
            <div class="orders">
                {% if customer.orders.size == 0 %}
                    <p class="orders__none">{{ 'customer.orders.none' | t }}</p>
                {% else %}
                    <table class="orders__mobile">
                        {% for order in customer.orders %}
                            <tr>
                                <th>{{ 'customer.orders.order_number' | t }}</td>
                                <td>{{ order.name | link_to: order.customer_url }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'customer.orders.date' | t }}</td>
                                <td>{{ order.created_at | date: "%d/%m/%Y" }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'customer.orders.payment_status_mobile' | t }}</td>
                                <td>{{ order.financial_status | camelize }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'customer.orders.fulfillment_status_mobile' | t }}</td>
                                <td>{{ order.fulfillment_status | camelize }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'customer.orders.total' | t }}</td>
                                <td>{{ order.total_price | money }}</td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr></td>
                            </tr>
                        {% endfor %}
                    </table>

                    <table class="orders__desktop">
                        <thead>
                            <tr>
                                <th><span>{{ 'customer.orders.order_number' | t }}</span></th>
                                <th><span>{{ 'customer.orders.date' | t }}</span></th>
                                <th><span>{{ 'customer.orders.payment_status' | t }}</span></th>
                                <th><span>{{ 'customer.orders.fulfillment_status' | t }}</span></th>
                                <th><span>{{ 'customer.orders.total' | t }}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in customer.orders %}
                                <tr>
                                    <td>{{ order.name | link_to: order.customer_url }}</td>
                                    <td>{{ order.created_at | date: "%d/%m/%Y" }}</td>
                                    <td>{{ order.financial_status | camelize }}</td>
                                    <td>{{ order.fulfillment_status | camelize }}</td>
                                    <td>{{ order.total_price | money }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

        </div>
        <div class="account__info account__info--addresses">
            <h3 class="heading_4">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</h3>
            <div class="addresses">

                {% if customer.default_address == nil %}
                    <p class="addresses__none">{{ 'customer.addresses.no_addresses' | t }}</p>
                {% else %}
                    {% for address in customer.addresses %}

                        <div id="{{ address.id }}" class="address{% if address == customer.default_address %} address--default{% endif %}">
                            <div class="address__data">
                                <span class="heading_5 name">{{ address.first_name | upcase }} {{ address.last_name | upcase }} {% if address == customer.default_address %}({{ 'customer.addresses.default' | t }}){% endif %}</span><br>

                                {% if address.company != "" %}
                                    {{ address.company }}<br>
                                {% endif %}

                                {% if address.address1 != "" %}
                                    {{ address.address1 }}<br>
                                {% endif %}

                                {% if address.address2 != "" %}
                                    {{ address.address2 }}<br>
                                {% endif %}

                                {% if address.city != "" %}
                                    {{ address.city }},
                                {% endif %}

                                {% if address.province_code != "" %}
                                    {{ address.province_code | upcase }}
                                {% endif %}

                                {% if address.zip != "" %}
                                    {{ address.zip | upcase }}<br>
                                {% endif %}

                                {% if address.country != "" %}
                                    {{ address.country }}<br>
                                {% endif %}

                                {% if address.phone != "" %}
                                    {{ address.phone }}
                                {% endif %}
                            </div>
                            <div class="address__buttons heading_5">
                                <a href="#edit">{{ 'customer.addresses.edit' | t }}</a> |
                                <a href="#delete">{{ 'customer.addresses.delete' | t }}</a>
                            </div>
                        </div>
                        {% include 'edit-address' %}
                    {% endfor %}
                    <hr>
                {% endif %}
                <a href="#AddAddress" class="button button--black">{{ 'customer.addresses.add' | t }}</a>

                {% include 'add-address' %}

            </div>
        </div>
    </div>

</main>
