<div id="EditAddress-{{ address.id }}" class="form" style="display: none;">
    {% form 'customer_address', address %}

        <!-- <h2>{{ 'customer.addresses.add_new' | t }}</h2> -->

        <div class="selection-wrapper">
            {{ form.errors | default_errors }}
        </div>
<!--
        <div class="selection-wrapper" style="display:none">
            <div class="errors">{{ 'customer.addresses.error' | t }}</div>
        </div> -->

        <div class="form__row">
            <div class="form__field">
                <label for="AddressFirstNameNew_{{ address.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                <input type="text" id="AddressFirstNameNew_{{ address.id }}" class="input input--text" name="address[first_name]" value="{{ address.first_name }}" autocapitalize="words">
            </div>
            <div class="form__field">
                <label for="AddressLastNameNew_{{ address.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                <input type="text" id="AddressLastNameNew_{{ address.id }}" class="input input--text" name="address[last_name]" value="{{ address.last_name }}" autocapitalize="words">
            </div>
        </div>

        <div class="form__row">
            <div class="form__field">
                <label for="AddressCompanyNew_{{ address.id }}">{{ 'customer.addresses.company' | t }}</label>
                <input type="text" id="AddressCompanyNew_{{ address.id }}" class="input input--text" name="address[company]" value="{{ address.company }}" autocapitalize="words">
            </div>
        </div>

        <div class="form__row">
            <div class="form__field">
                <label for="AddressAddress1New_{{ address.id }}">{{ 'customer.addresses.address1' | t }}</label>
                <input type="text" id="AddressAddress1New_{{ address.id }}" class="input input--text" name="address[address1]" value="{{ address.address1 }}" autocapitalize="words">
            </div>
            <div class="form__field">
                <label for="AddressAddress2New_{{ address.id }}">{{ 'customer.addresses.address2' | t }}</label>
                <input type="text" id="AddressAddress2New_{{ address.id }}" class="input input--text" name="address[address2]" value="{{ address.address2 }}" autocapitalize="words">
            </div>
        </div>

        <div class="form__row">
            <div class="form__field">
                <label for="AddressCityNew_{{ address.id }}">{{ 'customer.addresses.city' | t }}</label>
                <input type="text" id="AddressCityNew_{{ address.id }}" class="input input--text" name="address[city]" value="{{ address.city }}" autocapitalize="words">
            </div>
            <div class="form__field">
                <label for="AddressCountryNew_{{ address.id }}">{{ 'customer.addresses.country' | t }}</label>
                <select id="AddressCountryNew_{{ address.id }}" class="input input--country input--text" name="address[country]" data-default="{{ address.country }}">{{ country_option_tags }}</select>
            </div>
        </div>

        <div class="form__row AddressProvinceContainerNew">
            <div class="form__field">
                <label for="AddressProvinceNew_{{ address.id }}">{{ 'customer.addresses.province' | t }}</label>
                <select id="AddressProvinceNew_{{ address.id }}" class="input input--province input--text" name="address[province]" data-default="{{ address.province }}"></select>
            </div>
        </div>

        <div class="form__row">
            <div class="form__field">
                <label for="AddressZipNew_{{ address.id }}">{{ 'customer.addresses.zip' | t }}</label>
                <input type="text" id="AddressZipNew_{{ address.id }}" class="input input--text" name="address[zip]" value="{{ address.zip }}" autocapitalize="characters">
            </div>
            <div class="form__field">
                <label for="AddressPhoneNew_{{ address.id }}">{{ 'customer.addresses.phone' | t }}</label>
                <input type="tel" id="AddressPhoneNew_{{ address.id }}" class="input input--text" name="address[phone]" value="{{ address.phone }}">
            </div>
        </div>

        <div class="form__field form__field--checkbox">
            <label class="label--checkbox" for="address_default_address_{{ address.id }}">
                {{ form.set_as_default_checkbox }}
                <span>{{ 'customer.addresses.set_default' | t }}</span>
            </label>
        </div>

        <p><input type="submit" class="button button--black" value="Save Address"></p>
        <p class="login-links"><a class="cancelEditing cancel">{{ 'customer.addresses.cancel' | t }}</a></p>

    {% endform %}
</div>

<script>
// Initiate provinces for the Edit Address form
    new Shopify.CountryProvinceSelector('AddressCountryNew_{{ address.id }}', 'AddressProvinceNew_{{ address.id }}', {hideElement: 'AddressProvinceNew_{{ address.id }}'});

</script>
