
<header class="header">
    <h1 class="header__logo header__logo--main">
        <a href="/">
            <img class="header__logo--black" src="{{ 'logo-black.svg' | asset_url }}" alt="American Woolen Company">
            <img class="header__logo--white" src="{{ 'logo-white.svg' | asset_url }}" alt="American Woolen Company">
        </a>
    </h1>
    <div class="header__controls">
        <div class="hamburger hamburger--slider">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
        <a class="header__cart" href="/cart">
            <img src="{{ 'cart.svg' | asset_url }}" alt="{{ 'cart.general.title' | t }}">
            <span>{{ 'cart.general.title' | t }}</span>
            <span class="count" data-cart-render="item_count"></span>
        </a>
    </div>
    <div class="header__overlay">
        <h1 class="header__logo header__logo--nav">
            <a href="/">
                <img src="{{ 'logo-white.svg' | asset_url }}" alt="American Woolen Company">
            </a>
        </h1>
        <nav class="header__nav header__nav--initial heading_3">
            <h2 class="header__title heading_1">Home</h2>
            <ul>
                <li>
                    <a href="/#mill" data-side="right" class="header__switch_ header__switch_--trigger">Switch to Mill</a>
                </li>
                <li>
                    <a href="/#collection" data-side="left" class="header__switch_ header__switch_--trigger">Switch to Collection</a>
                </li>
            </ul>
        </nav>
        <nav class="header__nav header__nav--store heading_3">
            <h2 class="header__title heading_1">Collection</h2>
            <ul>
                <li>
                    <a href="/#mill" class="header__switch_">Switch to Mill</a>
                </li>
            </ul>
        </nav>
        <nav class="header__nav header__nav--collection heading_3">
            <h2 class="header__title heading_1"><a href="/collections/aw-co">Collection</a></h2>
            <ul>
                <!-- <li>
                    <a href="#story">Story</a>
                </li> -->
                <li>
                    <a href="#mill" class="header__switch">Switch to Mill</a>
                </li>
            </ul>
        </nav>
        <nav class="header__nav header__nav--mill heading_3">
            <h2 class="header__title heading_1">Mill</h2>
            <ul>
                <li>
                    <a href="#history">History</a>
                </li>
                <!-- <li>
                    <a href="#process">Process</a>
                </li> -->
                <li>
                    <a href="#principle">Principle</a>
                </li>
                <!-- <li>
                    <a href="#team">The Team</a>
                </li> -->
                <li>
                    <a href="#collection" class="header__switch">Switch to Collection</a>
                </li>
            </ul>
        </nav>
        <div class="header__secondary">
            <nav class="header__social">
                {% if settings.social_email != blank %}
                    <a class="icon icon-mail" href="mailto:{{ settings.social_email }}"></a>
                {% endif %}
                {% if settings.social_facebook_link != blank %}
                    <a class="icon icon-fb" target="_blank" href="{{ settings.social_facebook_link }}"></a>
                {% endif %}
                {% if settings.social_instagram_link != blank %}
                    <a class="icon icon-instagram" target="_blank" href="{{ settings.social_instagram_link }}"></a>
                {% endif %}
                {% if settings.social_pinterest_link != blank %}
                    <a class="icon icon-pinterest" target="_blank" href="{{ settings.social_pinterest_link }}"></a>
                {% endif %}
            </nav>
            <nav class="header__menu body_text">
                <ul>
                    <li>
                        <a href="/pages/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/pages/returns">Returns</a>
                    </li>
                    <li>
                        <a href="/pages/privacy">Privacy</a>
                    </li>
                    <li>
                        <a href="/pages/terms">Terms</a>
                    </li>
                </ul>
            </nav>
            <small class="header__copy body_text body_text--small">
                Producers of the world’s finest worsted and woolen cloth.<br>
                Stafford Springs, CT<br>
                All Rights Reserved, American Woolen Co. 2017®
            </small>
        </div>
    </div>
</header>
