<section class="newsletter">
    <div class="newsletter__container">
        <h3 class="newsletter__heading newsletter__heading--title heading_3">{{ 'general.newsletter_form.newsletter_header' | t }}</h3>
        <h3 class="newsletter__heading newsletter__heading--confirm heading_3">Thank you!</h3>
        <p class="newsletter__msg newsletter__msg--confirm">We need to confirm your email address. To complete the subscription process, please click the link in the email we just sent you.</p>
        <p class="newsletter__msg newsletter__msg--error">An error occurred. Try again later.</p>
        <form id="mailchimp-form" class="newsletter__form mailchimp-form" action="https://americanwoolen.us8.list-manage.com/subscribe/post-json?u=ce25465dc1d6358e566d54e54&amp;id=bc6df0f555&amp;c=?" method="get">
            <input type="email" name="EMAIL" placeholder="{{ 'general.newsletter_form.input_placeholder' | t }}">
            <button class="button button--black" type="submit" name="button">{{ 'general.newsletter_form.submit_button' | t }}</button>
        </form>
    </div>
</section>
{%- include 'social-links' -%}
