<div class="collection-sections">
    {%- include 'indicator' -%}

    {% section 'section-story' %}

    {% section 'section-principle' %}

    {% section 'section-history' %}

    {% section 'section-process' %}

    {% section 'section-steps' %}

    {% section 'section-collection' %}

    {% section 'section-team' %}
</div>
