<div class="social">
    <nav class="social__links">
        <ul>
            {% if settings.social_instagram_link != blank %}
                <li>
                    <a class="icon icon-instagram" target="_blank" href="{{ settings.social_instagram_link }}">
                    </a>
                </li>
            {% endif %}
            {% if settings.social_facebook_link != blank %}
                <li>
                    <a class="icon icon-fb" target="_blank" href="{{ settings.social_facebook_link }}">
                    </a>
                </li>
            {% endif %}
            {% comment %}
            {% if settings.social_twitter_link != blank %}
                <li>
                    <a class="icon icon-twitter" target="_blank" href="{{ settings.social_twitter_link }}">
                    </a>
                </li>
            {% endif %}
            {% endcomment %}
            {% if settings.social_email != blank %}
                <li>
                    <a class="icon icon-mail" href="mailto:{{ settings.social_email }}">
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
