<div class="slider">
    <a href="#" class="slider__trigger slider__trigger--left" data-side="left">
        <span class="heading_5">Switch to Collection</span>
    </a>
    <h1 class="slider__logo">
        <img src="{{ 'logo-white.svg' | asset_url }}" alt="American Woolen Company">
    </h1>
    <a href="#" class="slider__trigger slider__trigger--right" data-side="right">
        <span class="heading_5">Switch to Mill</span>
    </a>
</div>
