.button {
    @extend .heading_5;
    display: inline-block;
    padding: 1.07em 2.285em;
	text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &--black, &--cart {
        background: $black;
        color: $white;
    }
    &--ghost {
        position: relative;
        border: 2px solid $green;
    }
    &--small {
        padding: 0.58em 2.285em;
    }
    &--plain {
        padding: 0 0 8px 0;;
        color: $green;
        border-bottom: 1px solid;
    }
    &--cart {
        position: relative;
        padding: 1.07em 0;
        min-width: 14.285em;
        .button__text {
            position: relative;
            &:before {
            	content: attr(data-text);
            	position: absolute;
            	top: 0;
            	left: 0;
            	width: 100%;
            	height: 100%;
            	transition: transform 0.3s, opacity 0.3s;
            	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            }
            > span {
                display: inline-block;
            	opacity: 0;
            	transform: translate3d(0, -10px, 0);
            	transition: transform 0.3s, opacity 0.3s;
            	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            }
        }

        &:hover {
            background: rgba($black, 0.9);
            .button__text {
                &:before {
                    opacity: 0;
                	transform: translate3d(0, 100%, 0);
                }
                > span {
                    opacity: 1;
                	transform: translate3d(0, 0, 0);
                    @for $i from 1 through 25 {
                        &:nth-child(#{$i}) {
                            transition-delay: $i * 0.04s;
                        }
                    }
                }
            }
        }

        .button__text {
            &--soldout {
                display: none;
            }
        }

        &.button--disabled {
            pointer-events: none;
            background: rgba($black, 0.6);
            .button__text {
                display: none;
                &--soldout {
                    display: block;
                }
            }
        }

    }
}
