#RecoverPasswordSuccessMessage ~ * {
    display: none;
}

#RecoverPasswordForm {
    display: none;
    p:first-of-type {
        text-transform: none;
    }
}

#RecoverPasswordInfo {
    margin-bottom: 32px;
}

#ResetSuccess {
    display: none;
    text-transform: none;
    color: $warning_color;
}

@media #{$rwd-sm-up} {
    #RecoverPasswordInfo {
        margin-bottom: 80px;
    }
}

.form {
    &__field {
        width: 100%;
        max-width: 492px;
        padding: 0 8px;
        margin-left: auto;
        margin-right: auto;

        label {
            @extend .heading_5;
            display: block;
            margin-top: 24px;
            margin-bottom: 8px;
            font-weight: 700;
            text-transform: uppercase;
            color: $black;
            text-align: left;
            // ~ input[type=checkbox] {
            //     text-transform: none;
            // }
        }

        &--checkbox {
            margin-top: 40px;
            max-width: none;
            text-align: center;
            label {
                color: $black;
            }
            input {
                display: none;
                + span {
                    display: inline-block;
                    position: relative;
                    user-select: none;
                    &:before {
                        content: '';
                        display: inline-block;
                        position: relative;
                        top: 3px;
                        width: 16px;
                        height: 16px;
                        margin-right: 16px;
                        border: 2px solid $black;
                    }
                }
                &:checked {
                    + span {
                        &:before {
                            background: $black;
                        }
                    }
                }
            }
        }
    }

    &__row {
        .form__field {
        }
    }

    .input {
        appearance: none;
        box-shadow: none;
        border-radius: 0;
        &--text {
            width: 100%;
            padding-left: 16px;
            height: 48px;
            line-height: 47px;
            border: 2px solid $black;
            font: inherit;
            color: $black;
            text-transform: none;
            background: none;
            @extend .body_text--medium;
            &:focus {
                border: 2px solid $black;
            }
        }
    }

    .button {
        display: block;
        margin: 32px auto 24px auto;
    }

    .errors {
        margin-top: 25px;
        text-align: center;
        color: $warning_color;
        a {
            text-decoration: underline;
        }
    }

    &__info {
        text-transform: none;
        text-align: center;
    }


    @media #{$rwd-sm-up} {
        // &__field {
        //     max-width: 492px;
        // }
        &__row {
            // padding-left: 16px;
            overflow: auto;
            .form__field {
                width: 50%;
                float: left;
                margin-right: 0;
                margin-left: 0;
                padding: 0 16px 0 0;
                &:nth-of-type(2) {
                    padding: 0 0 0 16px;
                }
            }
        }
        .button {
            margin: 64px auto 40px auto;
        }
    }
}

.shopify-challenge__container {
    max-width: 700px !important;
    padding: 0 15px !important;
    overflow: hidden;
    .shopify-challenge__message {
        margin: 125px 0 25px 0;
        @extend .body_text;
        @extend .body_text--medium;
    }

    .shopify-challenge__button {
        margin: 50px auto !important;
        @extend .button;
        @extend .button--black;
    }

    .shopify-challenge__errors {
        text-transform: none;
        color: $red;
    }

    @media #{$rwd-lg-up} {
        .shopify-challenge__message {
            margin-top: 175px;
        }
    }
}
