.frame {
    position: fixed;
    z-index: 1001;
    background: $frame-color;
    transition: 1s ease-in;
    // opacity: 0;
    &--top, &--bottom {
        width: calc(100vw - #{$frame-mobile * 2});
        left: $frame-mobile;
        height: $frame-mobile;
    }
    &--right, &--left {
        width: $frame-mobile;
        height: 100vh;
    }
    .website--loaded & {
        opacity: 1;
    }
    &--top {
        top: 0;
        left: $frame-mobile;
    }
    &--right {
        top: 0;
        right: 0;
    }
    &--bottom {
        bottom: 0;
        left: $frame-mobile;
    }
    &--left {
        top: 0;
        left: 0;
    }
    @media #{$rwd-sm-up} {
        &--top, &--bottom {
            width: calc(100vw - #{$frame-tablet * 2});
            height: $frame-tablet;
        }
        &--right, &--left {
            width: $frame-tablet;
        }
        &--top, &--bottom {
            left: $frame-tablet;
        }
    }
    @media #{$rwd-lg-up} {
        &--top, &--bottom {
            width: calc(100vw - #{$frame-desktop * 2});
            height: $frame-desktop;
        }
        &--right, &--left {
            width: $frame-desktop;
        }
        &--top, &--bottom {
            left: $frame-desktop;
        }
    }
}
