.hamburger {
    position: fixed;
    top: 0px;
    left: 14px;
    &.is-active {
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            background: $black;
        }
    }
    @media #{$rwd-sm-up} {
        top: 10px;
        left: 22px;
    }
    @media #{$rwd-md-up} {
        left: 10px;
    }
}

.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;

    // Normalize (<button>)
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger-box {
    width: 28px;
    height: 4px * 3 + 5px * 2;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: 4px / -2;

    &,
    &::before,
    &::after {
        width: 28px;
        height: 4px;
        background-color: $green;
        position: absolute;
        transition-property: transform, background-color;
        transition-duration: 0.25s;
        transition-timing-function: ease;
        @media #{$rwd-sm-up} {
            width: 30px;
        }
    }

    &::before,
    &::after {
        content: "";
        display: block;
    }

    &::before {
        top: (5px + 4px) * -1;
        @media #{$rwd-sm-up} {
            top: (6px + 4px) * -1;
        }
    }

    &::after {
        bottom: (5px + 4px) * -1;
    }
}


.hamburger--slider {
    .hamburger-inner {
        top: 4px / 2;

        &::before {
            top: 4px + 5px;
            transition-property: transform, opacity, background-color;
            transition-timing-function: ease;
            transition-duration: 0.25s;
        }

        &::after {
            top: (4px * 2) + (5px * 2);
        }
    }

    &.is-active {
        .hamburger-inner {
            $y-offset: 5px + 4px;
            transform: translate3d(0, $y-offset, 0) rotate(45deg);
            &::before {
                transform: rotate(-45deg) translate3d(4px / -7, 5px * -1, 0);
                opacity: 0;
            }

            &::after {
                transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
            }
        }
    }
}
