.indicator {
    display: none;
    @media #{$rwd-lg-up} {
        display: block;
        position: fixed;
        z-index: 3;
        top: 44%;
        transition: all 1.25s 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        li {
            position: relative;
            margin-bottom: 10px;
            // cursor: pointer;
            pointer-events: none;
            &:last-of-type:first-of-type {
                display: none;
            }
            &:not(:last-of-type) {
                &:after {
                    position: absolute;
                    left: 3px;
                    display: block;
                    content: '';
                    width: 1px;
                    height: 10px;
                    background: $white;
                    transition: background 0.25s cubic-bezier(0.77, 0, 0.175, 1);
                }
            }
            span {
                display: block;
                width: 7px;
                height: 7px;
                border: 1px solid $white;
                border-radius: 50%;
                transition: all 0.25s cubic-bezier(0.77, 0, 0.175, 1);
            }
            &.active {
                span {
                    background: $white;
                }
            }
        }

        &--left {
            left: 64px;
            transform: translateX(-50vw);
            .website--loaded.website--left & {
                transform: translateX(0);
            }
        }

        &--right {
            right: 64px;
            transform: translateX(50vw);
            .website--loaded.website--right & {
                transform: translateX(0);
            }
        }

        &--dark {
            li {
                &:not(:last-of-type) {
                    &:after {
                        background: $black;
                    }
                }
                span {
                    border-color: $black;
                }
                &.active {
                    span {
                        background: $black;
                    }
                }
            }
        }
    }
}
