.newsletter {
    text-align: center;
    &__container {
        position: relative;
        padding: 120px 32px 80px 32px;
        margin-bottom: 40px;
        background: $pale-grey;
    }
    &__heading {
        position: absolute;
        top: -0.75em;
        left: 0;
        padding: 0 32px;
        width: 100%;
        &--confirm {
            display: none;
        }
    }
    &__msg {
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        &--error {
            bottom: 30px;
            text-align: center;
            @media #{$rwd-sm-up} {
                bottom: auto;
                top: 50px;
            }
        }
        &--confirm {
            top: 60px;
            padding: 0 15px;
            text-align: center;
            @media all and (min-width: 451px) {
                max-width: 450px;
                left: 50%;
                margin-left: -225px;
            }
        }
    }

    &--success {
        .newsletter {
            &__heading {
                &--title {
                    display: none;
                }
                &--confirm {
                    display: block;
                }
            }
            &__form {
                display: none;
            }
            &__msg {
                &--confirm {
                    display: block;
                }
            }
        }
    }

    &--error {
        .newsletter {
            &__msg {
                &--error {
                    display: none;
                }
            }
        }
    }

    &__form {
        input {
            @extend .heading_5;
            display: block;
            width: 100%;
            max-width: 326px;
            margin: 0 auto 16px auto;
            padding: 16px;
            background: white;
            color: $black;
            text-align: center;
            @include placeholder() {
                color: $black;
            }
        }
    }

    @media all and (min-width: 375px) {
        &__heading {
            max-width: 308px;
            left: 50%;
            margin-left: -154px;
        }
    }

    @media #{$rwd-sm-up} {

        &__container {
            padding: 104px 32px 104px 32px;
            max-width: 720px;
            margin-right: auto;
            margin-left: auto;
        }

        &__heading {
            max-width: none;
            left: 0;
            margin-left: 0;
        }

        &__form {
            input {
                display: inline-block;
                text-align: left;
            }
            button {
                margin-left: -4px;
            }
        }
    }

    @media #{$rwd-lg-up} {

        &__container {
            max-width: 1146px;
        }

        &__form {
            input {
                max-width: 412px;
            }
        }
    }
}
