.option {
    li {
        text-align: center;
        display: inline-block;
        margin-right: 16px;
        width: 48px;
        height: 48px;
        line-height: 48px;
        cursor: pointer;
        &:last-of-type {
            margin-right: 0;
        }
    }
    &--size {
        li {
            border: solid 2px $black;
            &.active, &:hover {
                background: $black;
                color: $white;
            }
        }
        + div {
            position: relative;
            > a {
                position: relative;
                top: -16px;
                display: inline-block;
                margin-bottom: 8px;
                color: $green;
                @extend .heading_5;
            }

        }
    }
    &--color {
        li {
            &.active {
                position: relative;
                // background-image: url('check.svg');
                background-position: 50%;
                background-repeat: no-repeat;
                @extend .icomoon;
                &:before {
                    content: "\e902";
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    line-height: 46px;
                    font-size: 36px;
                }
            }
            &.dark {
                color: white;
            }
        }
    }
    @media #{$rwd-md-up} {
        // @extend .body_text--small;
        li {
            font-size: 12px;
            width: 32px;
            height: 32px;
            line-height: 32px;
        }

        &--color {
            li {
                &.active {
                    &:before {
                        line-height: 32px;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
