.questions {
    max-width: 612px;
    margin: 0 auto 88px auto;
    h4 {
        @extend .heading_5;
        position: relative;
        padding: 24px 16px;
        cursor: pointer;
        &:after {
            content: "";
            position: absolute;
            top: 20px;
            right: 0;
            width: 32px;
            height: 32px;
            font-size: 15px;
            transform-origin: center;
            transition: 0.33s all;
            background: url('arrow.svg');
            background-size: 32px 32px;
        }
        &.active {
            &:after {
                transform: rotateX(180deg);
            }
        }
        &:not(:first-of-type) {
            border-top: 2px solid $black;
        }
        + div {
            display: none;
            padding: 0 16px;
            p {
                margin-bottom: 24px;
                &:last-of-type {
                    margin-bottom: 32px;
                }
            }
        }
        &.active {
            + div {
                display: block;
            }
        }
    }
    @media #{$rwd-md-up} {
        max-width: 777px;
    }
}
