/*======================================
Selectric v1.10.1
======================================*/

.selectric {
    position: relative;
    border: solid 2px $black;
    line-height: 32px;
    height: 32px;
    text-align: center;

    &-wrapper {
        position: relative;
        z-index: 3;
        width: 32px;
        height: 32px;
        cursor: pointer;
        &.selectric-disabled {
            opacity: 0.5;
            cursor: default !important;
            user-select: none;
            pointer-events: none;
        }
    }

    &-arrow {
        position: absolute;
        top: -2px;
        right: -32px;
        display: inline-block;
        width: 32px;
        height: 32px;
        border: 2px solid $black;
        background: url('selectric-arrow.svg');
        background-position: 50%;
    }

    &-open {
        z-index: 9999;
        .selectric-items {
            display: block;
        }
    }

    &-hide-select {
        display: none;
        position: relative;
        overflow: hidden;
        width: 0;
        height: 0;
        select {
            position: absolute;
            left: -100%;
        }
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
            select:focus {
            }
        }
        .selectric-is-native {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
            select {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                border: none;
                z-index: 1;
                box-sizing: border-box;
                opacity: 0;
            }
        }
    }

    &-input {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 1px !important;
        height: 1px !important;
        outline: none !important;
        border: none !important;
        *font: 0/0 a !important;
        background: none !important;
    }

    &-items {
        display: none;
        position: absolute;
        top: 30px;
        left: 30px;
        line-height: 32px;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;

        &-captions {
            min-width: 300px;
        }
        .selectric-scroll {
            height: 100%;
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        ul, li {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        ul {
            width: 32px;
        }
        li {
            display: block;
            width: 32px;
            height: 32px;
            cursor: pointer;
            background: $white;
            border: solid 2px $black;
            border-bottom: none;
            text-align: center;
            &:nth-of-type(1) {
                height: 30px;
                border-top: none;
                &:last-of-type {
                    // border-bottom: 2px solid $black;
                }
            }
            &:last-of-type {
                height: 32px;
                border-bottom: none;
            }
        }
        .disabled {
            filter: alpha(opacity=50);
            opacity: 0.5;
            cursor: default !important;
            background: none !important;
            color: #666 !important;
            user-select: none;
        }
    }

    &-above {
        .selectric-items {
            top: auto;
            bottom: 100%;
            border-bottom: none;
            li {
                &.last {
                    height: 32px;
                }
            }
        }
    }

    .label {
        display: inline-block;
        position: relative;
        line-height: 28px;
        z-index: 0;
        overflow: hidden;
        user-select: none;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    @media #{$rwd-sm-down} {
        width: 48px;
        height: 48px;
        line-height: 48px;
        &-wrapper {
            width: 48px;
            height: 48px;
        }
        &-arrow {
            right: -48px;
            width: 48px;
            height: 48px;
        }
        &-items {
            top: 46px;
            left: 46px;
            line-height: 48px;
            ul {
                width: 48px;
            }
            li {
                width: 48px;
                height: 48px;
                &:nth-of-type(1) {
                    height: 44px;
                }
                &:last-of-type {
                    height: 46px;
                }
            }
        }
        &-above {
            .selectric-items {
                li {
                    &.last {
                        height: 46px;
                    }
                }
            }
        }
        .label {
            line-height: 44px;
        }
    }

}
