.slider {
    display: none;
    @media #{$rwd-md-up} {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: $black;
        user-select: none;
        transition: transform 1.25s cubic-bezier(0.77, 0, 0.175, 1);

        &--left {
            top: 0;
            transform: translate(100vw, 0);
        }
        &--right {
            top: 0;
            transform: translate(-100vw, 0);
        }
        &:before {
            content: '';
            position: absolute;
            width: 100vw;
            height: 100vh;
            background: $black;
            opacity: 0;
            transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1);
        }
        &--center {
            transform: translateX(0);
            &.slider--left {
                &:before {
                    left: -100vw;
                    opacity: 1;
                }
            }
            &.slider--right {
                &:before {
                    right: -100vw;
                    opacity: 1;
                }
            }
        }

        &--active {
            display: block;
        }

        &__trigger {
            position: absolute;
            width: $switch-width;
            height: 100vh;
            color: $white;
            background: $black;
            transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
            cursor: pointer;
            span {
                display: block;
                position: absolute;
                top: 50vh;
                left: 0;
                margin-top: 150px;
                width: 300px;
                line-height: $switch-width;
                text-align: center;
                transform: rotate(-90deg);
                transform-origin: top left;
                font-size: 12px;
            }
            &--right {
                left: 0;
                &.active {
                    transform: translateX(-$switch-width);
                }
            }
            &--left {
                right: 0;
                &.active {
                    transform: translateX($switch-width);
                }
            }
        }

        &__logo {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -21px;
            width: 240px;
            margin-left: -120px;
            @media #{$rwd-lg-up} {
                width: 358px;
                margin-left: -179px;
            }
        }
    }
}
