.social {
    margin-bottom: 104px;
    &__links {
        text-align: center;
        li {
            display: inline-block;
            margin: 0 12px;
            a {
                display: block;
                width: 48px;
                color: $green;
                text-align: center;
                line-height: 48px;
                font-size: 28px;
            }
        }
    }
}
