.account {
    text-align: center;

    &__hello {
        margin-bottom: 24px;
        @extend .body_text--medium;
    }

    &__info {
        padding: 0 8px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1050px;
        text-align: left;
        border-bottom: 2px solid $black;
        &:first-of-type {
            border-top: 2px solid $black;
        }
        > div {
            display: none;
        }
        .heading_4 {
            margin: 31px 0 30px;
            font-weight: 700;
            color: $black;
            position: relative;
            cursor: pointer;
            &:after {
                content: "";
                position: absolute;
                top: -2px;
                right: 0;
                width: 32px;
                height: 32px;
                font-size: 15px;
                transform-origin: center;
                transition: 0.33s all;
                background: url('arrow.svg');
                background-size: 32px 32px;
            }
            &.active {
                &:after {
                    transform: rotateX(180deg);
                }
            }
        }

        .button[href="#AddAddress"] {
            margin-bottom: 32px;
        }

        .address {
            padding: 40px 16px 40px 32px;
            margin-bottom: 32px;
            color: $black;
            strong {
                font-weight: inherit;
                text-transform: uppercase;
            }

            &--default {
                background: $pale-grey;
            }
            &__data {
                .name {
                    margin-bottom: 8px;
                }
            }
            &__buttons {
                margin-top: 16px;
                text-transform: uppercase;
                color: $green;
            }
        }

        .addresses {
            &__none {
                margin-bottom: 32px;
                font-size: 14px;
                line-height: 24px;
            }
            .button {
                margin-right: 0;
                margin-left: 0;
            }
            hr {
                background: $pale-grey;
                max-width: none;
            }
            .login-links {
                margin-bottom: 32px;
            }
        }

        .orders {
            overflow: auto;
            &__none {
                margin-bottom: 32px;
                font-size: 14px;
                line-height: 24px;
            }
            &__desktop {
                display: none;
            }
            th {
                @extend .heading_5;
            }
            &__mobile {
                width: 100%;
                th, td {
                    padding-bottom: 8px;
                }
                td {
                    text-align: right;
                }
                hr {
                    margin: 24px 0 32px;
                    max-width: none;
                }
                tr:last-of-type {
                    td {
                        padding-bottom: 24px;
                    }
                    hr {
                        display: none;
                    }
                }
            }

        }
    }

    .login-links {
        @extend .heading_5;
        text-transform: uppercase;
        margin-bottom: 16px;
        a {
            display: inline-block;
        }
    }

    hr {
        margin: 24px auto;
        width: 100%;
        max-width: 612px;
        height: 1px;
        outline: 0;
        border: none;
        background-color: $white-two;
    }

    > h3, > p {
        padding-left: 24px;
    }


    @media #{$rwd-sm-up} {
        &__info {
            padding: 0 16px;
        }
        hr {
            max-width: 612px;
            margin: 40px auto 32px auto;
        }
        .login-links {
            a {
                margin: 0 30px;
            }
            br {
                display: none;
            }
        }
        &__hello {
            margin-bottom: 80px;
        }
        &__info {
            .address {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 24px;
            }

            .addresses {
                .form__field--checkbox  {
                    padding-left: 0;
                }
                .form .button {
                    margin: 40px 0 32px 0;
                }
                // hr {
                //     display: none;
                // }
                .login-links {
                    a {
                        margin: 0;
                    }
                }
            }

            // .orders {
            //     table {
            //         td, th {
            //             &:first-of-type {
            //                 padding-left: 24px;
            //             }
            //             &:last-of-type {
            //                 padding-right: 24px;
            //             }
            //         }
            //     }
            // }
        }
    }

    @media #{$rwd-md-up} {

        &__info {
            .orders {
                &__mobile {
                    display: none;
                }
                &__desktop {
                    display: table;
                    width: 100%;
                    min-width: 600px;
                    margin-bottom: 24px;
                    color: $black;
                    border-collapse: collapse;
                    tr {
                        vertical-align: top;
                    }
                    tbody {
                        tr {
                            border-top: 1px solid $pale-grey;
                        }
                    }
                    th {
                        text-transform: uppercase;
                        color: $black;
                        &:nth-of-type(2) {
                            min-width: 100px;
                        }
                    }
                    td, th {
                        padding: 14px 0 9px;
                    }
                }
            }
        }

    }

    @media #{$rwd-lg-up} {
        hr {
            max-width: 825px;
        }
    }
}
