.cart {
    &__subtitle {
        margin-bottom: 24px;
    }
    .item {
        @extend %clearfix;
        padding-bottom: 24px;
        margin-bottom: 32px;
        border-bottom: 1px solid $white-two;
        &:last-of-type {
            border-bottom: 2px solid $black;
        }
        &__image {
            margin-bottom: 24px;
            img {
                display: block;
            }
        }
        &__collection {
            margin-bottom: 8px;
        }
        &__title {
            margin-bottom: 8px;
        }
        &__details {
            position: relative;
        }
        &__options {
            margin-bottom: 20px;
            .option, .item__quantity {
                display: inline-block;
                vertical-align: top;
            }
            .item__quantity {
                .name {
                    display: block;
                    margin-bottom: 8px;
                }
            }
            .option {
                margin-right: 24px;
                &:before {
                    content: attr(data-label);
                    display: block;
                    margin-bottom: 8px;
                }
            }
        }
        &__total {
            color: $green;
        }
        &__remove {
            position: absolute;
            top: 24px;
            right: 0;
            width: 44px;
            height: 44px;
            // text-indent: -9999px;
            span {
                position: relative;
                &::before,
                &::after {
                    content: "";
                    display: block;
                    width: 24px;
                    height: 4px;
                    background-color: $black;
                    position: absolute;
                    top: 7px;
                    margin-left: 7px;
                }
                &::before {
                    transform: rotate(45deg);
                }
                &::after {
                    transform: rotate(-45deg);
                }
            }
        }
        > * {
            transition: all 0.5s ease-out;
        }
        &--byebye {
            > *:not(.item__divider) {
                opacity: 0.01;
                filter: blur(25px);
            }
        }
    }

    &__total {
        padding: 32px 0;
        margin-bottom: 32px;
        background: $black;
        color: $white;
        text-align: center;
    }

    &__checkout {
        text-align: center;
    }

    @media #{$rwd-sm-up} {
        max-width: 612px;
        margin-left: auto;
        margin-right: auto;
        &__subtitle {
            margin-bottom: 40px;
        }
        .item {
            padding-bottom: 40px;
            margin-bottom: 40px;
            clear: both;
            &__image {
                float: left;
                width: 195px;
                margin-bottom: 0;
            }
            &__details {
                padding-left: 235px;
            }
            &__collection {
                margin-bottom: 16px;
            }
            &__remove {
                top: 80px;
            }
        }
    }

    @media #{$rwd-md-up} {
        max-width: 776px;
        .item {
            &__image {
                width: 228px;
            }
            &__title {
                margin-bottom: 16px;
            }
            &__details {
                padding-top: 32px;
                padding-left: 276px;
            }
            &__remove {
                top: 120px;
            }
            &__options {
                .option {
                    margin-right: 40px;
                }
            }
        }
    }

}
