.collection {
    padding-top: 64px;
    &__product {
        max-width: 612px;
        margin: 0 auto 40px auto;
        > a {
            display: block;
            width: 100%;
        }
        .image {
            width: 100%;
        }
        .info {
            padding: 0 32px;
            margin-top: -77px;
            text-align: left;
        }
        .title {
            display: block;
            margin: 16px 0;
        }
        .description {
            margin-bottom: 24px;
            > *:not(blockquote) {
                display: none;
            }
            p:not(:last-of-type) {
                margin-bottom: 1em;
            }
        }
        .price {
            color: $green;
        }
    }

    @media #{$rwd-sm-up} {
        padding: 88px 78px;
        &__product {
            margin-bottom: 64px;
            .info {
                margin-top: -93px;
                padding: 0 48px;
            }
        }
    }

    @media #{$rwd-lg-up} {
        text-align: center;
        padding-top: 264px;
        padding: 264px 0 50px 0;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        &__product {
            display: inline-block;
            vertical-align: top;
            max-width: 549px;
            margin: 0 24px 64px 24px;
            .info {

            }
        }
    }
}
