.contact {

    &__header {
        min-height: auto;
        max-height: 700px;
        h1 {
            margin-top: 32px;
            margin-bottom: 64px;
        }
        h2 {
            margin-bottom: 8px;
        }
        h3 {
            margin-bottom: 48px;
        }
    }

    &__places, &__emails {
        padding: 88px 32px;
        text-align: center;
    }

    &__emails {
        background: $black;
        color: $white;
        > div > div {
            &:not(:last-of-type) {
                margin-bottom: 56px;
            }
            h4 {
                @extend .heading_4;
                margin-bottom: 8px;
            }
            p {
                max-width: 333px;
                margin-right: auto;
                margin-left: auto;
                @extend .body_text;
                @extend .body_text--medium;
                em {
                    margin-top: 16px;
                    display: block;
                    @extend .body_text--small;
                    text-transform: none;
                    font-style: normal;
                }
            }
        }
    }

    &__places {
        background: $white;
        color: $black;
        padding: 32px;
        h3 {
            margin-bottom: 48px;
        }
        .place {
            &:not(:last-of-type) {
                margin-bottom: 32px;
            }
            h5 {
                margin-bottom: 8px;
            }
            address {
                @extend .body_text;
                font-style: normal;
            }
        }
    }

    @media #{$rwd-sm-up} {
        &__header {
            padding-top: 144px;
            h1 {
                margin-top: 48px;
            }
            h2 {
                // margin-bottom: 24px;
            }
        }
        &__emails {
            padding: 88px 0 88px 0;
            // > div {
            //     display: inline-block;
            //     vertical-align: top;
            //     margin: 0 40px 56px 40px;
            // }
        }
        &__places {
            // padding: 88px 32px 128px 32px;
            padding: 48px;
            > div {
                display: flex;
                margin-right: auto;
                margin-left: auto;
                max-width: 800px;
                justify-content: space-between;
            }
            .place {
                width: 222px;
            }
        }
    }

    @media #{$rwd-lg-up} {
        &__emails {
            > div {
                padding: 0 16px;
                max-width: 1152px;
                margin-right: auto;
                margin-left: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                > div {
                    width: 323px;
                    &:not(:last-of-type) {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &__places {
            > div {
                padding: 0 16px;
                max-width: 1152px;
                flex-wrap: wrap;
            }
            .place {
                width: 323px;
                margin-bottom: 64px;
            }
        }
    }

}
