.header {
    position: relative;
    z-index: 1002;

    &__logo {
        position: absolute;
        left: 50%;
        top: 20px;
        width: 180px;
        margin-left: -90px;
        transition: opacity 0.75s 1.25s cubic-bezier(0.77, 0, 0.175, 1);
        a {
            display: block;
        }
        &--black, &--white {
            display: block;
        }
        &--white {
            display: none;
        }
        .template-index & {
            opacity: 0;
            // pointer-events: none;
            .header__logo--white {
                display: block;
            }
            .header__logo--black {
                display: none;
            }
        }
        .website--loaded.template-index & {
            opacity: 1;
        }
        .website--loaded.website--left &, .website--loaded.website--right & {
            transition-delay: 0.5s;
        }
        .website--switching, .website--switching.template-index & {
            opacity: 0;
            transition-delay: 0s;
        }
    }

    &--active {
        .header__logo {
            .template-index & {
                pointer-events: auto;
            }
        }

    }

    @media #{$rwd-md-up} {
        &__logo {
            .template-index & {
                display: none;
            }
        }
        &--active {
            .header__logo {
                .template-index & {
                    display: block;
                }
            }
        }

    }

    &__controls {
        position: relative;
        z-index: 2;
        transition: opacity 0.75s cubic-bezier(0.77, 0, 0.175, 1);
        .template-index & {
            opacity: 0;
            pointer-events: none;
        }
        .template-index.website--left &, .template-index.website--right &, .template-index.website--loaded & {
            opacity: 1;
            pointer-events: auto;
            transition-delay: 0.5s;
        }
        .website--switching.website--left &, .website--switching.website--right & {
            opacity: 0;
            pointer-events: none;
            transition-delay: 0s;
        }
    }

    &__cart {
        position: absolute;
        top: 16px;
        right: 32px;
        @extend .heading_5;
        transition: opacity 0.4s;
        img {
            width: 22px;
        }
        span {
            &:nth-of-type(1) {
                display: none;
            }
            &:nth-of-type(2) {
                position: absolute;
                top: 16px;
                right: -16px;
                display: block;
                width: 24px;
                height: 24px;
                background: $green;
                color: $white;
                border-radius: 50%;
                text-align: center;
                letter-spacing: 1px;
            }
        }
        .template-index & {
            display: none;
        }
    }

    &__overlay {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        left: 0;
        background: $green;
        width: 100vw;
        height: 100vh;
        padding: 20vh 15px 48px 15px;
        overflow: scroll;
        opacity: 0;
    	visibility: hidden;
    	transition: opacity 0.4s, visibility 0s 0.4s;
        transition-timing-function: cubic-bezier(0.7, 0.01, 0.3, 1);
        text-align: center;
        overflow-y: scroll;
       -webkit-overflow-scrolling: touch;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__nav {
        li {
            margin-bottom: 16px;
            a {
                display: inline-block;
                font-size: 0.9em;
            }
        }
        &--mill, &--collection, &--store {
            display: none;
        }
        .website--left &, .website--right & {
            &--initial {
                display: none;
            }
        }
        .website--left & {
            &--collection {
                display: block;
            }
            &--mill {
                display: none;
            }
        }
        .website--right & {
            &--mill {
                display: block;
            }
            &--collection {
                display: none;
            }
        }
        .website:not(.template-index) & {
            &--mill, &--collection{
                display: none;
            }
            &--store {
                display: block;
            }
        }
    }

    &__switch, &__switch_ {
        margin-top: 24px;
        border-bottom: 1px solid;
    }

    &__social {
        font-size: 32px;
        margin: 48px 0 41px;
        a {
            display: inline-block;
            margin: 0 20px;
            width: 32px;
            &:first-of-type {
                margin-left: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &__menu {
        margin-bottom: 24px;
        text-transform: uppercase;
        li {
            display: inline-block;
            margin: 0 10px;
        }
    }

    &--active {
        .header__overlay {
            opacity: 1;
        	visibility: visible;
        	transition: opacity 0.4s;
        }
        .header__title, .header__nav li, .header__social, .header__menu, .header__copy {
            opacity: 1;
        }
        .header__cart {
            opacity: 0;
            pointer-events: none;
        }
    }

    @media #{$rwd-sm-up} {
        &__logo {
            top: 28px;
            width: 240px;
            margin-left: -120px;
        }

        &__overlay {
            padding-top: 27vh;
        }

        &__cart {
            top: 32px;
            right: 32px;
            img {
                display: none;
            }
            span {
                &:nth-of-type(1) {
                    display: inline;
                }
                &:nth-of-type(2) {
                    display: inline-block;
                    margin-left: 8px;
                    position: static;
                    background: none;
                    color: $green;
                }
            }
        }

        &__title {
            margin-bottom: 24px;
        }

        &__menu {
            margin-bottom: 40px;
            li {
                &:not(:last-of-type) {
                    &:after {
                        display: inline-block;
                        margin: 0 1em;
                        content: '-';
                    }
                }
            }
        }

        &__social {
            margin: 14vh 0 40px;
        }
    }

    @media #{$rwd-lg-up} {
        &__logo {
            top: 32px;
            width: 358px;
            margin-left: -179px;
        }
        &__overlay {
            // padding-top: 25vh;
        }
    }
}
