.history {
    position: relative;
    padding: 44px 0 88px 0;
    overflow: hidden;
    user-select: none;
    background: $white;
    &__date {
        position: absolute;
        z-index: 1;
        bottom: 350px;
        left: 50%;
        display: flex;
        justify-content: center;
        margin-left: -140px;
        font-family: "ambroise-std", serif;
        font-size: 88px;
        width: 280px;
        height: 1em;
        line-height: 1;
        color: $aqua-green;
        text-align: center;
        overflow: hidden;
        ul {
            display: inline-block;
            transition: transform 0.66s cubic-bezier(0.7, 0.01, 0.3, 1);
            @for $i from 1 through 4 {
                &:nth-of-type(#{$i}) {
                    transition-delay: ($i - 1) * 0.1s;
                }
            }
        }
    }
    &__slider {
        position: relative;
        width: 100%;
        .episode {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            margin: 0 32px;
            text-align: center;
            outline: 0;
            border: 0;
            &__image, &__story {
                display: block;
                width: 100%;
                margin: 0 auto;
            }
            &__image {
                max-width: 496px;
                max-height: 85vw;
                overflow: hidden;
                @media #{$rwd-sm-down} {
                    background: none;
                }
                img {
                    display: block;
                }
            }
            &__story {
                max-width: 444px;
                min-height: 130px;
            }
            &__date {
                position: relative;
                margin-top: 32px;
                margin-bottom: 24px;
                span {
                    visibility: hidden;
                }
                &:after {
                    content: '';
                    position: absolute;
                	width: 80px;
                	height: 1px;
                	background-color: $black;
                    bottom: 0;
                    left: 50%;
                    margin-left: -40px;
                }
            }
        }
        .slick-list {
            overflow: hidden;
        }
        .slick-arrow {
            position: absolute;
            z-index: 1;
            bottom: -50px;
            font-size: 40px;
            color: $aqua-green;
            transition: all 0.5s;
            width: 40px;
            height: 40px;
            background: url('arrow-green@2x.png');
            background-size: 40px 40px;
            background-repeat: no-repeat;
            i {
                display: block;
            }
            &.slick-prev {
                left: 50%;
                margin-left: -48px;
                transform: rotateY(180deg);
            }
            &.slick-next {
                right: 50%;
                margin-right: -48px;
            }
            &.slick-disabled {
                opacity: 0.25;
                cursor: default;
            }
        }
    }

    &__timeline {
        position: relative;
        width: 9999px;
        height: 1px;
        margin-top: 82px;
        background: $black;
        ul {
            li {
                position: absolute;
                margin-left: 57vw;
                padding-top: 8px;
                transition: transform 0.66s cubic-bezier(0.7, 0.01, 0.3, 1);
                cursor: pointer;

                &:before {
                    position: absolute;
                    top: -3px;
                    left: 50%;
                    margin-left: -5px;
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    border: 1px solid $black;
                    border-radius: 50%;
                    background: $white;
                    transition: background 0.66s;
                }
                &.past, &:first-of-type {
                    &:before {
                        background: $black;
                    }
                }
                @for $i from 1 through 25 {
                    &:nth-of-type(#{$i}) {
                        &, &:before {
                            transition-delay: $i * 0.075s;
                        }
                    }
                }
            }
        }
    }

    @media #{$rwd-md-up} {
        padding: 0;
        &__date {
            top: 50vh;
            margin-top: -250px;
            bottom: auto;
            left: 75%;
            font-size: 120px;
        }
        &__slider {
            .episode {
                margin: 0;
                &__image, &__info {
                    width: 50%;
                }
                &__image {
                    float: left;
                    max-width: none;
                    width: 50%;
                    height: 100vh;
                    max-height: none;
                    background-size: cover;
                    background-position: 50%;
                    // object-fit: cover;
                    // object-position: center;
                    img {
                        display: none;
                    }
                }
                &__info {
                    float: right;
                    position: relative;
                    top: 50vh;
                    margin-top: -180px;
                }
                &__story {
                    max-width: 366px;
                }
                &__date {
                    margin-top: 77px;
                    margin-bottom: 32px;
                }
            }
            .slick-arrow {
                bottom: 25%;
                &.slick-prev {
                    right: 25vw;
                    left: auto;
                    margin: 0;
                    margin-right: 4px;
                }
                &.slick-next {
                    right: 25vw;
                    left: auto;
                    margin: 0;
                    margin-right: -44px;
                }
                &.slick-disabled {
                    opacity: 0.9;
                }
            }
        }
        &__timeline {
            position: absolute;
            bottom: 80px;
            .website--left & {
                left: -$switch-width;
            }
            .website--right & {
                left: $switch-width;
            }
        }
    }
}
