.homepage {
    &__logo {
        position: absolute;
        z-index: 3;
        top: 50vh;
        left: 50%;
        margin-left: -90px;
        margin-top: -21px;
        width: 180px;
        transition: opacity 0.66s cubic-bezier(0.77, 0, 0.175, 1);
        animation: fadeIn 0.75s;
        .website--loaded & {
            opacity: 0;
        }
        .website--initialized & {
            display: none;
        }
        img {
            display: block;
            width: 100%;
        }
        &--large {
            display: none;
        }
        @media #{$rwd-sm-up} {
            width: 240px;
            margin-left: -120px;
        }
        @media #{$rwd-md-up} {
            &--small {
                display: none;
                transition: all 1s 0.5s cubic-bezier(0.77, 0, 0.175, 1);
                .website--loaded & {
                    opacity: 0;
                    transform: translateY(-65vh);
                }
            }
            &--large {
                display: block;
                transform: none;
                width: 36%;
                margin-left: -18%;
                top: 37vh;
                transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
                .website--loaded & {
                    opacity: 1;
                }
                .website--loaded.website--left &, .website--loaded.website--right & {
                    opacity: 0;
                    pointer-events: none;
                }
            }

        }
    }
}

.card {
    position: relative;
    z-index: 1;
    height: 50vh;
    transition: all 1.25s 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    overflow: hidden;
    .section__header {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.25s 0.75s, visibility 0s 0.75s;
        transition-timing-function: cubic-bezier(0.7, 0.01, 0.3, 1);
    }
    .section__bg {
        transition: all 1.25s 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }
    &--right {
        position: absolute;
        top: 50vh;
        transform: translateX(100vw);
        .website--loaded & {
            transform: translateX(0);
        }
    }
    &--left {
        transform: translateX(-100vw);
        .website--loaded & {
            transform: translateX(0);
        }
    }

    &__link {
        position: absolute;
        z-index: 2;
        width: 100%;
        margin-top: -0.5em;
        text-align: center;
        color: $white;
        a {
            display: inline-block;
            border-bottom: 2px solid $green;
        }
        .website--left &, .website--right & {
            z-index: -1;
            opacity: 0;
            transition: opacity 0.5s, visibility 0s 1.25s;
            transition-timing-function: cubic-bezier(0.7, 0.01, 0.3, 1);
        }
    }

    @media #{$rwd-sm-down} {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: $black;
            opacity: 0;
            transition: opacity 0.7s cubic-bezier(0.77, 0, 0.175, 1);
        }

        .section__header {
            transition: opacity 0.25s 0.75s, visibility 0s 0.75s;
        }
        .website--left &, .website--right & {
            &--left {
                transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
            }
            &--right {
                transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.3s 0.7s cubic-bezier(0.77, 0, 0.175, 1);
            }
        }
        .website--left & {
            &--left {
                height: 100vh;
                .section__header {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &--right {
                transform: translateY(100%);
                transform-origin: bottom;
                opacity: 0;
                &:before {
                    z-index: 1;
                    opacity: 1;
                }
            }
        }
        .website--right & {
            &--right {
                position: relative;
                top: -50%;
                height: 100vh;
                .section__header {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &--left {
                margin-top: -50vh;
                &:before {
                    z-index: 1;
                    opacity: 1;
                }
            }
        }
    }

    @media #{$rwd-md-up} {
        height: 100vh;

        &__link {
            bottom: 25%;
            &--left {
                left: 25%;
            }
            &--right {
                right: 25%;
            }
        }

        &--left {
            transform: translate(-50%, 100%);
            .section__bg {
                transform: translateX(25%);
            }
        }
        &--right {
            top: 0;
            right: 0;
            transform: translate(50%, 160%);
            .section__bg {
                transform: translateX(-25%);
            }
            .section__header {
                transform: translateX(15vw);
                transition: all 0.5s 1s, visibility 0s 0.5s;
            }
        }

        .website--loaded & {
            &--left {
                transform: translate(-50%, 0);
            }
            &--right {
                transform: translate(50%, 0);
            }
        }



        .website--left & {
            &--left {
                z-index: 2;
                .section__bg, & {
                    transform: translate(0);
                }
                .section__header {
                    opacity: 1;
                    visibility: visible;;
                }
            }
            &--right {
                z-index: 1;
                transform: translate(100%);
            }
        }
        .website--right & {
            &--left {
                z-index: 1;
                transform: translateX(-100%);
            }
            &--right {
                z-index: 2;
                .section__bg, & {
                    transform: translateX(0);
                }
                .section__header {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                }
            }
        }
    }
}

.shopify-section.section-homepage-story ~ .shopify-section {
    margin-top: 50vh;
    .website--left &, .website--right &  {
        margin-top: 0;
    }
    @media #{$rwd-md-up} {
        margin-top: 0;
    }
}
