.page {
    padding: 64px 32px 80px 32px;
    position: relative;
    @extend .body_text;
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 64px;
        left: 0;
        width: 100%;
        height: 56px;
        background: $pale-grey;
    }
    &__container {
        max-width: 1344px;
        margin: 0 auto;
    }

    &__heading {
        margin-top: 24px;
        margin-bottom: 32px;
        text-align: center;
    }

    @media #{$rwd-sm-up} {
        padding-top: 88px;
        padding-bottom: 120px;
        &:before {
            top: 88px;
            height: 104px;
        }
        &__heading {
            margin-top: 56px;
            margin-bottom: 80px;
        }
    }

    @media #{$rwd-lg-up} {
        padding-top: 104px;
        padding-bottom: 152px;
        &:before {
            top: 104px;
            height: 88px;
        }
        &__heading {
            margin-top: 40px;
        }
    }
}
