.process {
    width: 100vw;
    padding: 44px 16px 88px 16px;
    background: $white;
    color: $black;
    &__header {
        text-align: center;
        padding: 0 16px;
        margin-bottom: 44px;
    }

    &__container {
        position: relative;
    }

    &__contents {
        text-align: center;

        > div {
            padding-bottom: 40px;
            overflow: hidden;
            &:not(:last-of-type) {
                border-bottom: 1px solid $white-two;
            }
        }
        h3 {
            display: block;
            margin: 40px 0;
            text-align: center;
            .arrow {
                display: none;
            }
        }
        table {
            margin-right: auto;
            margin-left: auto;
            width: 280px;
            th, td {
                padding-top: 8px;
                padding-bottom: 8px;
                vertical-align: top;
                width: 50%;
            }
            th {
                @extend .heading_5;
                padding-right: 12px;
                text-align: right;
            }
            td {
                padding-left: 12px;
                text-align: left;
            }
        }
        .button {
            margin-top: 24px;
        }

    }

    @media all and (min-width: 375px) {
        padding-right: 32px;
        padding-left: 32px;
        &__header {
            padding: 0;
        }
        &__contents {
            table {
                th {
                    padding-right: 16px;
                }
                td {
                    padding-left: 16px;
                }
            }
        }
    }

    @media #{$rwd-sm-up} {

        &__contents {
            max-width: 612px;
            margin-right: auto;
            margin-left: auto;
            text-align: left;
            h3 {
                text-align: left;
                span {
                    float: left;
                    display: inline-block;
                    width: 160px;
                }
                .arrow {
                    display: inline-block;
                    position: relative;
                    top: 10px;
                    left: 44px;
                    width: 78px;
                    height: 1px;
                    background: $aqua-green;
                    &:after {
                        content: '';
                        position: absolute;
                        top: -9px;
                        right: 0;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 10px 0 10px 10px;
                        border-color: transparent transparent transparent $aqua-green;
                    }
                }
            }
            table {
                float: right;
                tr {
                    &:first-of-type {
                        th, td {
                            padding-top: 0;
                        }
                    }
                }
                th {
                    padding-left: 0;
                    text-align: left;
                }
                td {
                    padding-left: 0;
                }
            }
            .begin {
                float: right;
                clear: right;
                width: 280px;
            }
        }
    }

    @media #{$rwd-lg-up} {
        padding: 88px;

        &__contents {
            max-width: 1092px;
            > div {
                position: relative;
                display: flex;
                align-items: center;
                padding-top: 40px;
                padding-bottom: 24px;
            }
            h3 {
                position: absolute;
                top: 2px;
                width: 350px;
                span {
                    width: 205px;
                }
                .arrow {
                    width: 114px;
                    left: 24px;
                }
            }
            table {
                float: none;
                margin-left: 450px;
            }
            .begin {
                float: none;
                clear: none;
                .button {
                    margin-top: 0;
                    margin-left: 24px;
                }
            }
        }
    }
}
