.price {
    color: $green;
}

.product {
    height: 100vh;
    &__gallery, &__info {
        width: 50vw;
    }
    &__gallery {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        float: left;
        background: rgb(243, 243, 245);
    }
    &__zoom {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100vw;
        min-height: 100%;
        overflow: hidden;
        background: white;
        opacity: 0;
        cursor: url(close-green-xs.png), pointer;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s 0.2s;
        transition-timing-function: cubic-bezier(0.7, 0.01, 0.3, 1);
        &.active {
            opacity: 1;
        	visibility: visible;
            transition: opacity 0.2s;
        }
        .zoom {
            display: inline-block;
            width: 100vw;
            outline: 0;
            border: 0;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            img {
                position: absolute;
                top: -12px;
                display: block;
                width: 100%;
            }
        }
    }
    &__featured {
        position: relative;
        z-index: 0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
        img {
            max-height: 66vh;
            margin-top: 110px;
        }
        .featured {
            display: inline-block;
            outline: 0;
            border: 0;
            cursor: pointer;
        }
    }
    &__thumbnails {
        position: relative;
        margin: 10px auto 0 auto;
        width: 70%;
        max-width: 500px;
        text-align: center;
        .slick-list {
            overflow: hidden;
        }
        .thumbnail {
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
            width: 20%;
            cursor: pointer;
            outline: 0;
            border: 0;
            img {
                display: block;
            }
            &.slick-current {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 1px solid rgba($frame-color, 0.75);
                }
            }
        }
        .slick-arrow {
            position: absolute;
            top: 30px;
            font-size: 32px;
            color: $green;
            &.slick-prev {
                left: -40px;
                transform: rotate(90deg);
            }
            &.slick-next {
                right: -40px;
                transform: rotate(-90deg);
            }
        }
    }
    &__info {
        float: right;
        padding-top: 176px;
        padding-bottom: 104px;
        padding-left: 10.1%;
        position: relative;
        max-height: 100vh;
        overflow: scroll;
        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
        }
        &:after {
            z-index: -1;
            width: 100%;
            height: 100%;
            left: -100%;
            background: rgb(243, 243, 245);
        }
        &:before {
            position: fixed;
            z-index: 1;
            width: 50vw;
            right: 0;
            background: white;
            height: 95px;
            box-shadow: 50px 20px 30px white;
        }
    }
    &__price {
        display: inline-block;
    }
    &__title {
        display: inline-block;
        margin-right: 40px;
    }
    &__description {
        max-width: 364px;
        margin-top: 24px;
        margin-bottom: 48px;
        blockquote {
            display: none;
        }
        ul, li {
            list-style-position: inside;
        }
        > table {
            border-bottom: 1px solid $black;
            tbody, & {
                display: block;
                width: 100%;
            }
            tr {
                td, & {
                    display: block;
                    width: 100%;
                }
                &:nth-child(odd) {
                    position: relative;
                    border-top: 1px solid $black;
                    cursor: pointer;
                    &:after {
                        position: absolute;
                        top: 20px;
                        right: 0;
                        content: '+';
                        font-size: 18px;
                    }
                    h4 {
                        @extend .heading_5;
                        margin: 24px 0;
                    }
                    &.expanded {
                        &:after {
                            content: '-';
                        }
                    }
                }
                &:nth-child(even) {
                    height: auto;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.8s ease;
                    td {
                        padding-bottom: 24px;
                    }
                    &:nth-of-type(2) {
                        // max-height: 400px;
                        &.hidden {
                            max-height: 0;
                        }
                    }
                    &.expanded {
                        max-height: 400px;
                    }
                }
            }
        }
    }
    &__variants {
        .single-option-selector, .selector-wrapper {
            display: none;
        }
    }
    &__option, &__quantity {
        margin-bottom: 32px;
    }
    &__quantity {
        & {
            visibility: hidden;
        }
        select {
            display: none;
        }
        &--disabled {
            opacity: 0.9;
            pointer-events: none;
        }
    }
    &__option {
        margin-bottom: 32px;
        &--size {
            // margin-bottom: 12px;
        }
    }
    &__form {
        .name-label {
            display: block;
            margin-bottom: 8px;
            @extend .heading_5;
        }
    }
    &__add {
        margin-top: 16px;
    }

    &__back {
        display: inline-block;
        color: $green;
        margin-top: 16px;
        @media all and (min-width: 901px) {
            position: fixed;
            top: 13px;
            left: 85px;
        }
    }

    @media #{$rwd-md-down} {

        &__info {
            padding: 144px 44px 88px 88px;
            &:before {
                height: 80px;
            }
        }
    }

    @media all and (max-width: 900px) {

        &__info, &__gallery {
            width: 100%;
            height: auto;
            float: none;
            clear: none;
        }
        &__info {
            padding: 88px 78px;
            max-height: none;
            &:before {
                display: none;
            }
        }

        &__gallery {
            position: relative;
        }

        &__featured {
            img {
                max-height: none;
                max-width: 80%;
                margin: 80px auto 0 auto;
            }
        }

        &__thumbnails {
            .thumbnail {
                margin-bottom: 16px;
            }
        }
        &__description {
            max-width: 614px;
        }
    }

    @media all and (max-width: 600px) {
        &__info {
            padding: 48px 32px;
        }
        &__add {
            width: 100%;
        }
        &__gallery {
            padding-bottom: 15px;
        }
        &__thumbnails {
            .thumbnail {
                margin: 0 5px;
            }
            .slick-arrow {
                top: 0;
            }
        }
    }
}

.esc-size-guide--popup .modal_container .modal_content {
    padding: 36px !important;
}

.esc-size-guide--popup .modal_close {
    top: 3px !important;
    right: 2px !important;
    text-indent: -999px;
    overflow: hidden;
    width: 32px;
    height: 32px;
    padding: 0 !important;
    &, &:hover {
        background-image: url(close-black.png) !important;
        background-color: white !important;
        background-size: 14px !important;
        background-repeat: no-repeat !important;
        background-position: 50% !important;
    }
}

.esc-size-guide--popup .modal_container {
    width: auto !important;
    height: auto !important;
}

.esc-size-guide--popup .modal_close:hover {
    // background: none !important;
}

.esc-size-guide--title {
    display: none !important;
}

.esc-size-guide--table {
    border-collapse: collapse !important;
    th:first-of-type {

    }
}
