#website {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.section {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 88px 32px;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    box-shadow: inset 0px 1px 0 rgba($white, 0.4);

    &--hidden {
        display: none !important;
    }

    &--plain {
        display: flex;
    }

    &--split {
        padding: 0;
        height: auto;
    }

    &__half {
        width: 100%;
        height: 100vh;
        &--text {
            padding: 0 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            .section__header {
                @media #{$rwd-sm-down} {
                    color: $white !important;
                }
            }
        }
        &--image {
            background-size: cover;
            position: absolute;
            top: 0;
        }
    }

    &--featured-product {
        .section__half--text {
            @media #{$rwd-md-up} {
                padding: 0 128px 0 64px;
            }
        }
        .section__product-image {
            margin: 0 auto;
            width: 75%;
            ~ * {
                position: relative;
                top: -55px;
            }
        }
        .section__text {
            max-width: 400px;
            @media #{$rwd-md-up} {
                max-width: 400px;
            }
            .button {
                margin: 1.25em 0 0 0;
            }
        }

        @media #{$rwd-sm-down} {
            .section__half {
                position: relative;
                height: auto;
                min-height: 50vh;
                &--image {
                    display: none;
                }
                &--text {
                    padding: 32px;
                    .section__header {
                        @media #{$rwd-sm-down} {
                            color: $black !important;
                        }
                    }
                }
            }
        }
    }

    &--left, &--center {
        align-items: center;
        justify-content: center;
    }

    &.card {
        .section__header {
            margin-top: 64px;
        }
    }

    &__overlay, &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__overlay {
        z-index: 1;
        content: '';
        background: $black;
    }

    &__bg {
        background-size: cover;
    }

    &__video {
        position: absolute;
        z-index: 999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s 0.2s;
        transition-timing-function: cubic-bezier(0.7, 0.01, 0.3, 1);
        cursor: url(close-green-xs.png), default;
        video {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        &--active {
            opacity: 1;
        	visibility: visible;
            transition: opacity 0.2s;
        }
        &-loader {
            position: absolute;
            z-index: 999;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(-100%);
            background: rgba($black, 0.5);
            opacity: 0;
            transition: all 0.2s 0.2s;
            &.loading {
                animation: 20s loadingVideo;
                animation-fill-mode: forwards;
                opacity: 1;
            }
        }
    }

    &__header {
        position: relative;
        z-index: 1;
    }

    &__heading, &__text {
        margin-right: auto;
        margin-left: auto;
    }
    &__heading {
        max-width: 558px;
        margin-bottom: 0.33em;
    }
    &__text  {
        max-width: 490px;
    }
    .button {
        margin: 2.285em 0;
    }

    &-container-slider {
        position: relative;
        background: $white;
        width: 100%;

        .section-slide {
            display: inline-block;
            vertical-align: top;
            outline: 0;
            border: 0;
        }
        .slick-list {
            overflow: hidden;
        }
        .slick-arrow {
            position: absolute;
            z-index: 1;
            bottom: 32px;
            font-size: 40px;
            color: $aqua-green;
            transition: all 0.5s;
            width: 40px;
            height: 40px;
            background: url('arrow-green@2x.png');
            background-size: 40px 40px;
            background-repeat: no-repeat;
            i {
                display: block;
            }
            &.slick-prev {
                left: 50%;
                margin-left: -48px;
                transform: rotateY(180deg);
            }
            &.slick-next {
                right: 50%;
                margin-right: -48px;
            }
            &.slick-disabled {
                opacity: 0.25;
                cursor: default;
            }
        }
    }

    @media #{$rwd-sm-up} {
        &__bg {
            background-position: 50% !important;
        }
    }

    @media #{$rwd-md-up} {
        &--split {
            height: 100vh;
            overflow: hidden;
        }

        &__half {
            width: 50%;
            height: 100%;
            float: left;
            &--image {
                height: 100%;
                position: relative;
            }
            &--text {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 44px 64px 44px 128px;
            }
        }
    }

    @media #{$rwd-lg-up} {
        &--left {
            justify-content: flex-start;
            .section__header {
                width: 50%;
            }
        }

        &__heading, &__text {
            max-width: 540px;
        }

    }

}
