.step {
    display: inline-block;
    text-align: center;
    outline: 0;
    border: 0;
    width: 100%;
    &__container {
        padding: 0 32px;
    }
    &__header {
        position: relative;
        max-width: 260px;
        margin: 0 auto;
        img {
            display: inline-block;
            width: 100%;
            &:nth-of-type(2) {
                position: absolute;
                z-index: 1;
                top: 96px;
                width: 142px;
                right: -55px;
            }
        }
    }
    &__info {
        max-width: 612px;
        margin: 40px auto;
    }
    &__description {
        margin: 24px 0 48px;
    }
    &__divider {
        display: block;
        margin: 0 auto 40px auto;
        width: 80px;
    	height: 1px;
        background-color: $black;
    }

    &__tags {
        max-width: 414px;
        margin: 0 auto 32px auto;
    }

    @media all and (max-width: 500px) {
        &__header {
            max-height: 300px;
            overflow: hidden;
            img {
                &:nth-of-type(2) {
                    display: none;
                }
            }
        }
        &__info {
            margin: 24px auto;
        }
        &__description {
            margin: 16px 0 32px;
        }
    }

    @media #{$rwd-lg-up} {

        &__container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 100vh;
            max-width: 85%;
            margin: 0 auto;
        }

        &__header {
            max-width: 440px;
            img {
                &:nth-of-type(1) {
                    width: auto;
                    height: auto;
                    max-height: 90vh;
                }
                &:nth-of-type(2) {
                    width: 174px;
                }
            }
        }

        &__info {
            max-width: 440px;
            transition: transform 0.8s 0.33s ease-out, opacity 0.4s 0.33s ease-out;
        }

        &:not(.slick-current) {
            .step__info {
                opacity: 0;
                transform: translateY(-50px);
            }
        }
    }

}

.steps {
    position: relative;
    background: $white;
    height: 0;
    overflow: hidden;

    &__slider {
        padding: 0 0 88px 0;
    }
    &--active {
        height: auto;
    }
    .slick-arrow {
        position: absolute;
        z-index: 1000;
        bottom: 40px;
        font-size: 40px;
        color: $aqua-green;
        transition: all 0.5s;
        width: 40px;
        height: 40px;
        background: url('arrow-green@2x.png');
        background-size: 40px 40px;
        background-repeat: no-repeat;
        &.slick-prev {
            left: 50%;
            margin-left: -48px;
            transform: rotateY(180deg);
        }
        &.slick-next {
            right: 50%;
            margin-right: -48px;
        }
        &.slick-disabled {
            opacity: 0.25;
            cursor: default;
        }
    }

    @media #{$rwd-lg-up} {

        .slick-arrow {
            &.slick-prev, &.slick-next {
                top: 51vh;
                right: 6vw;
                bottom: auto;
                left: auto;
                margin: 0;
            }
            &.slick-prev {
                margin-top: -48px;
            }
        }
    }

    @media all and (min-width: 1600px) {
        &__info {
            max-width: 500px;
        }
    }
}
