.section {
    &--team {
        top: 0;
        height: auto;
        min-height: 100vh;
        overflow: hidden;
        background: $white-two;
        .section__header {
            img {
                width: 556px;
                margin-bottom: 40px;
            }
        }
    }
}

.team {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: transform 0.34s 0.34s ease-out;
    &-container {
        position: relative;
    }
    &--active {
        height: auto;
    }
    &__close {
        display: none;
    }
    &__popup {
        position: fixed;
        z-index: 1002;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s 0.2s;
        transition-timing-function: cubic-bezier(0.7, 0.01, 0.3, 1);
        &:before {
            position: absolute;
            z-index: -1;
            content: '';
            width: 100%;
            height: 100%;
            background: rgba($black, 0.8);
        }
        &--active {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.2s;
        }
        &-close {
            position: absolute;
            z-index: 2;
            right: 16px;
            top: 16px;
            width: 44px;
            height: 44px;
            font-size: 20px;
            color: $white;
        }
    }
    &__slider {
        position: relative;
        text-align: center;
        max-width: 100%;
        .member {
            display: inline-block;
            width: 100vw;
            outline: 0;
            border: 0;
            margin: 0 48px;
            text-align: center;
            padding-bottom: 24px;
            background: $white;
            img {
                display: inline-block;
                max-width: 100%;
                max-height: 80vh;
                height: auto;
                width:auto;
            }
            &__name {
              font-weight: bold;
            }
        }
        .slick-arrow {
            position: absolute;
            z-index: 1;
            top: 50%;
            margin-top: -22px;
            width: 44px;
            height: 44px;
            color: $white;
            &.slick-prev {
                left: 0;
            }
            &.slick-next {
                right: 0;
            }
        }
    }
    &__members {
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
        background: $pale-grey;
        transform: translateZ(0);
        .list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: calc(100% + 1px);
            max-width: 520px;
            padding: 40px 16px;
            margin-left: auto;
            margin-right: auto;
            .member {
                margin: 8px;
                max-width: 132px;
                cursor: pointer;
                img {
                    display: block;
                }
            }
        }
    }

    @media #{$rwd-sm-up} {

      &__popup {
        &-close {
          top: 20px;
          right: 48px;
        }
      }

      &__slider {
        .member {
          padding: 24px 0;
          background: $grey;
          img {
            margin-bottom: 12px;
          }
        }
      }
    }

    @media #{$rwd-md-up} {
        position: absolute;
        z-index: -1;
        top: 0;
        height: 100vh;
        max-height: 100vh;
        &-container {
            background: $black;
            .section--team {
                transition: opacity 1s cubic-bezier(0.7, 0.01, 0.3, 1);
            }
            &--active {
                max-height: 100vh;
                height: 100vh;
                // overflow: hidden;
                .section--team {
                    opacity: 0.1;
                }
            }
        }
        &--active {
            // z-index: 1;
            .team__popup, .team__members {
                transform: translateX(0);
            }
            .team__close {
                opacity: 1;
            }
        }
        &__popup, &__members {
            transition: transform 1s 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
        }
        &__close {
            display: block;
            position: absolute;
            z-index: 2;
            right: 24px;
            top: 24px;
            width: 44px;
            height: 44px;
            font-size: 28px;
            color: $green;
            opacity: 0;
            transition: opacity 0.25s 1s;
            text-align: center;
            cursor: pointer;
        }

        &__slider {
          height: 100vh;
        }

        &__members {
            position: absolute;
            right: 0;
            width: 50vw;
            transform: translateX(100%);

        }
        &__popup {
            position: absolute;
            z-index: 1;
            visibility: visible;
            opacity: 1;
            width: auto;
            max-width: 50%;
            background: $grey;
            align-items: flex-start;
            transform: translateX(-100%);
            &:before {
                display: none;
            }
            &-close {
                display: none;
            }
        }

        &__slider {
            .member {
                margin: 0 $frame-tablet;
                background: $grey;
                text-align: left;
                text-align: center;
                padding-left: 0;
                &__info {
                  padding-left: 64px;
                }
                img {
                    display: block;
                    margin-top: 10vh;
                    height: 70vh;
                    margin-right: auto;
                    margin-left: auto;
                    position: relative;
                    left: 32px;
                }
            }
        }
    }

    @media #{$rwd-lg-up} {
        &__slider {
            .member {
                margin: 0 $frame-desktop;
                img {
                  margin-bottom: 24px;
                }
            }
        }
    }
}
