<!-- /templates/sections/section-team.liquid -->

<!--  SECTION IV: TEAM -->
<div id="team" class="team-container{% if section.settings.section-team_hide == true %} section--hidden{% endif %}">
    <section class="section section--plain section--center section--team section--light" style="background-color: {{ section.settings.section_team_bg_color }};">
        <header class="section__header" style="color: {{ section.settings.section_team_text_color }};">
            <img src="{{ section.settings.section_team_image | img_url: '2048x2048' }}" alt="American Woolen Team">
            <h1 class="section__heading heading_2">{{ section.settings.section_team_header }}</h1>
            <p class="section__text body_text body_text--medium">{{ section.settings.section_team_text }}</p>
            <a class="team-toggle button button--ghost" href="{{ section.settings.section_team_button_link }}">{{ section.settings.section_team_button_label }}</a>
        </header>
    </section>
    <section id="team" class="team">
        <div class="team__popup">
            <button class="team__popup-close">
                <i class="icon icon-close"></i>
            </button>
            <div class="team__slider">
                {% for block in section.blocks %}
                    <figure class="member">
                        <img src="{{ block.settings.member_image | img_url: '2048x2048' }}" alt="">
                        <figcaption class="member__info">
                          <p class="member__name">{{ block.settings.member_name }}</p>
                          <p class="member__title">{{ block.settings.member_title }}</p>
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>
        </div>
        <div class="team__members" id="team-members">
            <div class="list">
                {% for block in section.blocks %}
                    <div class="member active">
                        <img src="{{ block.settings.member_image | img_url: '2048x2048' }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="team__close">
            <i class="icon icon-close"></i>
        </div>
    </section>
</div>

{% schema %}
{
    "name": "Section: Team",
    "class": "section-team section-hide-left section-right section-indicate section-light",
    "settings": [
        {
            "id": "section_team_image",
            "type": "image_picker",
            "label": "Team image"
        },
        {
            "id": "section_team_header",
            "type": "textarea",
            "label": "Header Title"
        },
        {
            "id": "section_team_text",
            "type": "textarea",
            "label": "Header Text"
        },
        {
            "id": "section_team_button_label",
            "type": "text",
            "label": "Button label"
        },
        {
            "id": "section_team_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "section_team_bg_color",
            "type": "color",
            "label": "Section background color"
        },
        {
            "id": "section_team_text_color",
            "type": "color",
            "label": "Section text color"
        },
        {
           "type": "checkbox",
           "id": "section-team_hide",
           "default": false,
           "label": "Hide section"
        }
    ],
    "blocks": [
        {
            "type": "members",
            "name": "Members",
            "settings": [
                {
                    "id": "member_image",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                    "id": "member_name",
                    "type": "text",
                    "label": "Name"
                },
                {
                    "id": "member_title",
                    "type": "text",
                    "label": "Title"
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
