<!-- /templates/sections/section-collection-collection.liquid -->
<!--  SECTION : COLLECTION -->

<section id="collection-collection"
    class="section section--plain section--collection section--left 100vh">
    <div class="section__overlay" style="opacity: {{ section.settings.section-collection-collection_bg_overlay }}"></div>
    <header class="section__header" style="color: {{ section.settings.section-collection-collection_text_color }};">
        <h1 class="section__heading heading_2">{{ section.settings.section-collection-collection_header }}</h1>
        <p class="section__text body_text body_text--medium">{{ section.settings.section-collection-collection_text }}</p>
        {% if section.settings.section-collection-collection_button_label != blank %}
        <a class="button button--ghost" href="{{ section.settings.section-collection-collection_button_link }}">
            <span class="button__text">{{ section.settings.section-collection-collection_button_label }}</span>
        </a>
        {% endif %}
    </header>
    <div class="section__bg"
         style="background-image: url('{{ section.settings.section-collection-collection_bg | img_url: '2048x2048' }}');
                background-position: {{ section.settings.section-collection-collection_bg_position_x }}% 50%;">
    </div>
</section>

{% schema %}
{
    "name": "Section: Collection",
    "class": "section-collection-collection section-left section-hide-right section-indicate",
    "settings": [
        {
            "id": "section-collection-collection_bg",
            "type": "image_picker",
            "label": "Background image"
        },
        {
            "id": "section-collection-collection_bg_position_x",
            "type": "range",
            "step": 1,
            "min": 0,
            "max": 100,
            "default": 50,
            "label": "Background Position-X"
        },
        {
            "id": "section-collection-collection_bg_overlay",
            "type": "range",
            "step": 0.1,
            "min": 0,
            "max": 1,
            "default": 0,
            "label": "Background Overlay"
        },
        {
            "id": "section-collection-collection_header",
            "type": "textarea",
            "label": "Header Title"
        },
        {
            "id": "section-collection-collection_text",
            "type": "textarea",
            "label": "Header Text"
        },
        {
            "id": "section-collection-collection_button_label",
            "type": "text",
            "label": "Button label"
        },
        {
            "id": "section-collection-collection_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "section-collection-collection_text_color",
            "type": "color",
            "label": "Section text color"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
