<section class="contact__places">
    <h3 class="heading_3">{{ section.settings.contact_places_title }}</h3>
    <div>
        {% for block in section.blocks %}
            <div class="place">
                <h5 class="heading_5">{{ block.settings.contact_place_name }}</h5>
                <address>
                    {{ block.settings.contact_place_address }}
                </address>
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "Places",
    "class": "section-contact",
    "settings": [
        {
            "id": "contact_places_title",
            "type": "textarea",
            "label": "Header Title"
        }
    ],
    "blocks": [
        {
            "type": "places",
            "name": "Places",
            "settings": [
                {
                    "id": "contact_place_name",
                    "type": "textarea",
                    "label": "Name"
                },
                {
                    "id": "contact_place_address",
                    "type": "textarea",
                    "label": "Address"
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
