<!-- /templates/sections/section-collection-footer.liquid -->

<!--  SECTION: CoLLECTION -->
<section id="collection-footer"
    class="section section--plain section--center section-hide-right 100vh{% if section.settings.section-collection-footer_hide == true %} section--hidden{% endif %}">
    <div class="section__overlay" style="opacity: {{ section.settings.section-collection-footer_bg_overlay }}"></div>
   <div class="section__bg"
        style="background-image: url('{{ section.settings.section-collection-footer_bg | img_url: '2048x2048' }}');
               background-position: {{ section.settings.section-collection-footer_bg_position_x }}% 50%;">
   </div>
    <header class="section__header" style="color: {{ section.settings.section-collection-footer_text_color }};">
        <a class="button button--ghost" href="{{ section.settings.section-collection-footer_button_link }}">{{ section.settings.section-collection-footer_button_label }}</a>
    </header>
</section>

{% schema %}
{
    "name": "Collection Footer",
    "class": "section-collection-footer section-indicate section-left",
    "settings": [
        {
            "id": "section-collection-footer_bg",
            "type": "image_picker",
            "label": "Background image"
        },
        {
            "id": "section-collection-footer_bg_position_x",
            "type": "range",
            "step": 1,
            "min": 0,
            "max": 100,
            "default": 50,
            "label": "Background Position-X"
        },
        {
            "id": "section-collection-footer_bg_overlay",
            "type": "range",
            "step": 0.1,
            "min": 0,
            "max": 1,
            "default": 0,
            "label": "Background Overlay"
        },
        {
            "id": "section-collection-footer_button_label",
            "type": "text",
            "label": "Button label"
        },
        {
            "id": "section-collection-footer_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "section-collection-footer_text_color",
            "type": "color",
            "label": "Section text color"
        },
        {
           "type": "checkbox",
           "id": "section-collection-footer_hide",
           "default": false,
           "label": "Hide section"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
