
<section id="steps" class="steps section--light{% if section.settings.section-steps_hide == true %} section--hidden{% endif %}">
    <div class="steps__slider">
        {% for block in section.blocks %}
            <div class="step">
                <div class="step__container">
                    <header class="step__header">
                        <img src="{{ block.settings.step_image_big | img_url: '2048x2048' }}" alt="">
                        <img src="{{ block.settings.step_image_small | img_url: '2048x2048' }}" alt="">
                    </header>
                    <div class="step__info">
                        <h2 class="step__heading heading_2">
                            {{ block.settings.step_title }}
                        </h2>
                        <p class="step__description body_text body_text--medium">
                            {{ block.settings.step_description }}
                        </p>
                        <span class="step__divider"></span>
                        <p class="step__tags heading_5">
                            {{ block.settings.step_tags }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "Section: Steps",
    "class": "section-steps section-hide-left",
    "settings": [
        {
           "type": "checkbox",
           "id": "section-steps_hide",
           "default": false,
           "label": "Hide section"
        }
    ],
    "blocks": [
        {
            "type": "steps",
            "name": "Process Step",
            "settings": [
                {
                    "id": "step_title",
                    "type": "text",
                    "label": "Step title"
                },
                {
                    "id": "step_description",
                    "type": "textarea",
                    "label": "Step description"
                },
                {
                    "id": "step_tags",
                    "type": "textarea",
                    "label": "Step tags"
                },
                {
                    "id": "step_image_big",
                    "type": "image_picker",
                    "label": "Step image (big)"
                },
                {
                    "id": "step_image_small",
                    "type": "image_picker",
                    "label": "Step image (small)"
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
