<section id="history" class="history section--light">
    <div class="history__date">
        <ul></ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
    </div>
    <div class="history__slider">
        {% for block in section.blocks %}
            <div class="episode">
                <div class="episode__image" style="background-image: url({{ block.settings.episode_image | img_url: '2048x2048' }})">
                    <img src="{{ block.settings.episode_image | img_url: '2048x2048' }}" alt="{{ block.settings.episode_date }}">
                </div>
                <div class="episode__info">
                    <p class="episode__date">
                        <span>{{ block.settings.episode_date }}</span>
                    </p>
                    <div class="episode__story body_text body_text--medium">
                        <p>{{ block.settings.episode_story }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="history__timeline heading_5">
        <ul></ul>
    </div>

</section>

{% schema %}
{
    "name": "Section: History",
    "class": "section-history section-hide-left section-right section-indicate section-light",
    "blocks": [
        {
            "type": "episodes",
            "name": "Episodes",
            "settings": [
                {
                    "id": "episode_date",
                    "type": "text",
                    "label": "Date"
                },
                {
                    "id": "episode_story",
                    "type": "textarea",
                    "label": "Story"
                },
                {
                    "id": "episode_image",
                    "type": "image_picker",
                    "label": "Image"
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
