<!-- /templates/sections/section-product-featured-2.liquid -->

<div class="section-container-slider{% if section.settings.section-product-featured-2_hide == true %} section--hidden{% endif %}">
    <div class="section-slide">
        <section id="product-featured-2" class="section section--split section--featured-product" style="background-color: {{ section.settings.section-product-featured-2_bg_color }};">
            <div class="section__half section__half--image"
                 style="background-image: url('{{ section.settings.section-product-featured-2_bg | img_url: '2048x2048' }}');
                        background-position: {{ section.settings.section-product-featured-2_bg_position_x }}% 50%;">
            </div>
           <div class="section__half section__half--text">
               <header class="section__header" style="color: {{ section.settings.section-product-featured-2_text_color }};">
                   <img class="section__product-image" src="{{ section.settings.section-product-featured-2_product_image | img_url: '2048x2048' }}" alt="{{ section.settings.section-product-featured-2_title }}">
                   <h1 class="section__heading heading_3">{{ section.settings.section-product-featured-2_title }}</h1>
                   <p class="section__text body_text body_text">{{ section.settings.section-product-featured-2_desc }}</p>
                   {% if section.settings.section-product-featured-2_button_label != blank %}
                       <a class="button button--plain" href="{{ section.settings.section-product-featured-2_button_link }}">
                           {{ section.settings.section-product-featured-2_button_label }}
                       </a>
                   {% endif %}
               </header>
           </div>
        </section>
    </div>

</div>


{% schema %}
{
    "name": "Product: Featured 2",
    "class": "section-featured-product section-hide-right section-indicate section-left",
    "settings": [
        {
            "id": "section-product-featured-2_bg",
            "type": "image_picker",
            "label": "Background image"
        },
        {
            "id": "section-product-featured-2_bg_position_x",
            "type": "range",
            "step": 1,
            "min": 0,
            "max": 100,
            "default": 50,
            "label": "Background Position-X"
        },
        {
            "id": "section-product-featured-2_bg_overlay",
            "type": "range",
            "step": 0.1,
            "min": 0,
            "max": 1,
            "default": 0,
            "label": "Background Overlay"
        },
        {
            "id": "section-product-featured-2_product_image",
            "type": "image_picker",
            "label": "Product image"
        },
        {
            "id": "section-product-featured-2_title",
            "type": "textarea",
            "label": "Product Title"
        },
        {
            "id": "section-product-featured-2_desc",
            "type": "textarea",
            "label": "Product description"
        },
        {
            "id": "section-product-featured-2_button_label",
            "type": "text",
            "label": "Button label"
        },
        {
            "id": "section-product-featured-2_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "section-product-featured-2_bg_color",
            "type": "color",
            "label": "Section background color"
        },
        {
            "id": "section-product-featured-2_text_color",
            "type": "color",
            "label": "Section text color"
        },
        {
           "type": "checkbox",
           "id": "section-product-featured-2_hide",
           "default": false,
           "label": "Hide section"
        }
    ]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
