<!-- /templates/sections/section-collection.liquid -->

<div class="section-container-slider{% if section.settings.section-collection_hide == true %} section--hidden{% endif %}">
    <!-- <div class="section-slide">
        <section id="mill-collection" class="section section--split" style="background-color: {{ section.settings.section_collection_bg_color }};">
           <div class="section__half section__half--text">
               <header class="section__header" style="color: {{ section.settings.section_collection_text_color }};">
                   <h1 class="section__heading heading_2">{{ section.settings.section_collection_header }}</h1>
                   <p class="section__text body_text body_text--medium">{{ section.settings.section_collection_text }}</p>
                   {% if section.settings.section-collection_button_label != blank %}
                       <a class="button button--ghost" href="{{ section.settings.section-collection_button_link }}">
                           <span class="button__text">{{ section.settings.section-collection_button_label }}</span>
                       </a>
                   {% endif %}
               </header>
           </div>
            <div class="section__half section__half--image"
                 style="background-image: url('{{ section.settings.section_collection_bg | img_url: '2048x2048' }}');
                        background-position: {{ section.settings.section_collection_bg_position_x }}% 50%;">
            </div>
        </section>
    </div> -->


    {% for block in section.blocks %}
        {% if block.settings.section_collection_slide_full == true %}
            <!-- <div class="section-slide">
                <section
                    class="section section--plain section--center"
                    style="background-image: url('{{ block.settings.section_slide_bg | img_url: '2048x2048' }}');
                           background-position: {{ block.settings.section_slide_bg_position_x }}% 50%;">
                   <div class="section__overlay" style="opacity: {{ block.settings.section_slide_bg_overlay }}"></div>
                    <header class="section__header" style="color: {{ block.settings.section_slide_text_color }};">
                        <h1 class="section__heading heading_2">{{ block.settings.section_slide_header }}</h1>
                        <p class="section__text body_text body_text--medium">{{ block.settings.section_slide_text }}</p>
                    </header>
                </section>
            </div> -->

            <div class="section-slide">
                <section
                    class="section section--plain section--left"
                    style="background-image: url('{{ block.settings.section_collection_slide_bg | img_url: '2048x2048' }}');
                           background-position: {{ block.settings.section_collection_slide_bg_position_x }}% 50%;">
                    <div class="section__overlay" style="opacity: {{ block.settings.section_collection_slide_bg_overlay }}"></div>
                       <header class="section__header" style="color: {{ block.settings.section_collection_slide_text_color }};">
                           <h1 class="section__heading heading_2">{{ block.settings.section_collection_slide_header }}</h1>
                           <p class="section__text body_text body_text--medium">{{ block.settings.section_collection_slide_text }}</p>
                           {% if block.settings.section_collection_slide_button_label != blank %}
                               <a class="button button--ghost" href="{{ block.settings.section-collection_button_link }}">
                                   <span class="button__text">{{ block.settings.section_collection_slide_button_label }}</span>
                               </a>
                           {% endif %}
                       </header>
                </section>
            </div>
        {% else %}
            <div class="section-slide">
                <section class="section section--split" style="background-color: {{ block.settings.section_collection_slide_bg_color }};">
                   <div class="section__half section__half--text">
                       <header class="section__header" style="color: {{ block.settings.section_collection_slide_text_color }};">
                           <h1 class="section__heading heading_2">{{ block.settings.section_collection_slide_header }}</h1>
                           <p class="section__text body_text body_text--medium">{{ block.settings.section_collection_slide_text }}</p>
                           {% if block.settings.section_collection_slide_button_label != blank %}
                               <a class="button button--ghost" href="{{ block.settings.section-collection_button_link }}">
                                   <span class="button__text">{{ block.settings.section_collection_slide_button_label }}</span>
                               </a>
                           {% endif %}
                       </header>
                   </div>
                    <div class="section__half section__half--image"
                         style="background-image: url('{{ block.settings.section_collection_slide_bg | img_url: '2048x2048' }}');
                                background-position: {{ block.settings.section_collection_slide_bg_position_x }}% 50%;">
                    </div>
                </section>
            </div>
        {% endif %}
    {% endfor %}
</div>


{% schema %}
{
    "name": "Section: Mill Collection",
    "class": "section-the-mill section-hide-left section-indicate section-right",
    "settings": [
        {
           "type": "checkbox",
           "id": "section-collection_hide",
           "default": false,
           "label": "Hide section"
        }
    ],
    "blocks": [
        {
            "type": "Sections",
            "name": "Section",
            "settings": [
                {
                   "type": "checkbox",
                   "id": "section_collection_slide_full",
                   "default": false,
                   "label": "Full size image?"
               },
                {
                    "id": "section_collection_slide_bg",
                    "type": "image_picker",
                    "label": "Background image"
                },
                {
                    "id": "section_collection_slide_bg_position_x",
                    "type": "range",
                    "step": 1,
                    "min": 0,
                    "max": 100,
                    "default": 50,
                    "label": "Background Position-X"
                },
                {
                    "id": "section_collection_slide_bg_overlay",
                    "type": "range",
                    "step": 0.1,
                    "min": 0,
                    "max": 1,
                    "default": 0,
                    "label": "Background Overlay"
                },
                {
                    "id": "section_collection_slide_header",
                    "type": "textarea",
                    "label": "Header Title"
                },
                {
                    "id": "section_collection_slide_text",
                    "type": "textarea",
                    "label": "Header Text"
                },
                {
                    "id": "section_collection_slide_button_label",
                    "type": "text",
                    "label": "Button label"
                },
                {
                    "id": "section_collection_slide_button_link",
                    "type": "url",
                    "label": "Button Link"
                },
                {
                    "id": "section_collection_slide_bg_color",
                    "type": "color",
                    "label": "Section background color"
                },
                {
                    "id": "section_collection_slide_text_color",
                    "type": "color",
                    "label": "Section text color"
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
