<!-- /templates/sections/section-process.liquid -->

<!--  SECTION: PROCESS -->
<section id="process" class="process section--light{% if section.settings.section-process_hide == true %} section--hidden{% endif %}">
    <header class="process__header">
        <h1 class="section__heading heading_2">{{ section.settings.section_process_header }}</h1>
        <p class="section__text body_text body_text--medium">{{ section.settings.section_process_text }}</p>
    </header>
    <div class="process__contents">
        <div>
            <h3 class="heading_5">
                <span>Fiber To Yarn</span>
                <span class="arrow"></span>
            </h3>
            <table>
                <tr>
                    <th>Step 01</th>
                    <td>Fiber Dyeing</td>
                </tr>
                <tr>
                    <th>Step 02</th>
                    <td>Blending</td>
                </tr>
                <tr>
                    <th>Step 03</th>
                    <td>Carding</td>
                </tr>
                <tr>
                    <th>Step 04</th>
                    <td>Spinning</td>
                </tr>
                <tr>
                    <th>Step 05</th>
                    <td>Coning</td>
                </tr>
            </table>
            <div class="begin" data-step="1">
                <a href="#" class="button button--ghost button--small">Begin</a>
            </div>
        </div>
        <div>
            <h3 class="heading_5">
                <span>Yarn to Fabric</span>
                <span class="arrow"></span>
            </h3>
            <table>
                <tr>
                    <th>Step 06</th>
                    <td>Dressing/Warping</td>
                </tr>
                <tr>
                    <th>Step 07</th>
                    <td>Drawing-in</td>
                </tr>
                <tr>
                    <th>Step 08</th>
                    <td>Weaving</td>
                </tr>
                <tr>
                    <th>Step 09</th>
                    <td>Greige Mending</td>
                </tr>
            </table>
            <div class="begin" data-step="2">
                <a href="#" class="button button--ghost button--small">Begin</a>
            </div>
        </div>
        <div>
            <h3 class="heading_5">
                <span>Fabric To Garment</span>
                <span class="arrow"></span>
            </h3>
            <table>
                <tr>
                    <th>Step 10</th>
                    <td>Finishing</td>
                </tr>
                <tr>
                    <th>Step 11</th>
                    <td>Fine Mending</td>
                </tr>
                <tr>
                    <th>Step 12</th>
                    <td>Fine Control</td>
                </tr>
                <tr>
                    <th>Step 13</th>
                    <td>Cut & Sew Garments</td>
                </tr>
            </table>
            <div class="begin" data-step="3">
                <a href="#" class="button button--ghost button--small">Begin</a>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Section: Process",
    "class": "section-process section-hide-left section-right section-indicate section-light",
    "settings": [
        {
            "id": "section_process_header",
            "type": "textarea",
            "label": "Header Title"
        },
        {
            "id": "section_process_text",
            "type": "textarea",
            "label": "Header Text"
        },
        {
           "type": "checkbox",
           "id": "section-process_hide",
           "default": false,
           "label": "Hide section"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
