<section
    class="contact__header section section--plain section--center"
    {% if section.settings.contact_header_bg != blank %}style="background-image: url('{{ section.settings.contact_header_bg | img_url: '2048x2048' }}');
           background-position: {{ section.settings.contact_header_bg_position_x }}% 50%;"{% endif %}>
           <header class="section__header" style="color: {{ section.settings.contact_header_text_color }};">
               <h1 class="section__heading heading_2">{{ section.settings.contact_header_title }}</h1>
               <h2 class="heading_5">{{ section.settings.contact_header_subtitle }}</h2>
               <address class="body_text">{{ section.settings.contact_header_address }}</address>
               {% if section.settings.contact_header_button_label != blank %} <a class="button button--ghost" href="{{ section.settings.contact_header_button_link }}">{{ section.settings.contact_header_button_label }}</a>{% endif %}
           </header>
</section>

{% schema %}
{
    "name": "Contact Header",
    "class": "section-contact",
    "settings": [
        {
            "id": "contact_header_bg",
            "type": "image_picker",
            "label": "Background image"
        },
        {
            "id": "contact_header_bg_position_x",
            "type": "range",
            "step": 1,
            "min": 0,
            "max": 100,
            "default": 50,
            "label": "Background Position-X"
        },
        {
            "id": "contact_header_title",
            "type": "textarea",
            "label": "Header Title"
        },
        {
            "id": "contact_header_subtitle",
            "type": "textarea",
            "label": "Header Subtitle"
        },
        {
            "id": "contact_header_address",
            "type": "textarea",
            "label": "Address"
        },
        {
            "id": "contact_header_button_label",
            "type": "text",
            "label": "Button label"
        },
        {
            "id": "contact_header_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "contact_header_text_color",
            "type": "color",
            "label": "Header text color"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
