<!-- /templates/sections/section-principle.liquid -->
<!--  SECTION: PRINCIPLE -->
<section id="principle"
    class="section section--plain section--center 100vh"
    style="background-image: url('{{ section.settings.section_principle_bg | img_url: '2048x2048' }}');
           background-position: {{ section.settings.section_principle_bg_position_x }}% 50%;">
   <div class="section__overlay" style="opacity: {{ section.settings.section_principle_bg_overlay }}"></div>
    <header class="section__header" style="color: {{ section.settings.section_principle_text_color }};">
        <h1 class="section__heading heading_2">{{ section.settings.section_principle_header }}</h1>
        <p class="section__text body_text body_text--medium">{{ section.settings.section_principle_text }}</p>
    </header>
</section>

{% schema %}
{
    "name": "Section: Principle",
    "class": "section-principle section-hide-left section-indicate section-right",
    "settings": [
        {
            "id": "section_principle_bg",
            "type": "image_picker",
            "label": "Background image"
        },
        {
            "id": "section_principle_bg_position_x",
            "type": "range",
            "step": 1,
            "min": 0,
            "max": 100,
            "default": 50,
            "label": "Background Position-X"
        },
        {
            "id": "section_principle_bg_overlay",
            "type": "range",
            "step": 0.1,
            "min": 0,
            "max": 1,
            "default": 0,
            "label": "Background Overlay"
        },
        {
            "id": "section_principle_header",
            "type": "textarea",
            "label": "Header Title"
        },
        {
            "id": "section_principle_text",
            "type": "textarea",
            "label": "Header Text"
        },
        {
            "id": "section_principle_text_color",
            "type": "color",
            "label": "Section text color"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
