<!-- /templates/sections/section-story.liquid -->

<!--  SECTION: STORY -->
<section id="story"
    class="section section--plain section--left section-hide-right 100vh{% if section.settings.section-story_hide == true %} section--hidden{% endif %}">
    <div class="section__overlay" style="opacity: {{ section.settings.section-story_bg_overlay }}"></div>
   <div class="section__bg"
        style="background-image: url('{{ section.settings.section-story_bg | img_url: '2048x2048' }}');
               background-position: {{ section.settings.section-story_bg_position_x }}% 50%;">
   </div>
    <header class="section__header" style="color: {{ section.settings.section-story_text_color }};">
        <h1 class="section__heading heading_2">{{ section.settings.section-story_header }}</h1>
        <p class="section__text body_text body_text--medium">{{ section.settings.section-story_text }}</p>
        <a class="button button--ghost button--video" href="{{ section.settings.section-story_button_link }}">
            <span>{{ section.settings.section-story_button_label }}</span>
            <div class="loader"></div>
        </a>
    </header>
    <div class="section__video video-container">
        <video data-source="{{section.settings.section-story_video_filename | asset_url }}">
            <source src="" type="video/mp4">
        </video>
    </div>
    <div data-side="right" href="#" class="card__link card__link--right heading_3">
        <a href="#"><span>{{ section.settings.section-story_intro }}</span></a>
    </div>
</section>

{% schema %}
{
    "name": "Section: Story",
    "class": "section-story section-indicate section-left",
    "settings": [
        {
            "id": "section-story_bg",
            "type": "image_picker",
            "label": "Background image"
        },
        {
            "id": "section-story_bg_position_x",
            "type": "range",
            "step": 1,
            "min": 0,
            "max": 100,
            "default": 50,
            "label": "Background Position-X"
        },
        {
            "id": "section-story_bg_overlay",
            "type": "range",
            "step": 0.1,
            "min": 0,
            "max": 1,
            "default": 0,
            "label": "Background Overlay"
        },
        {
            "id": "section-story_header",
            "type": "textarea",
            "label": "Header Title"
        },
        {
            "id": "section-story_text",
            "type": "textarea",
            "label": "Header Text"
        },
        {
            "id": "section-story_button_label",
            "type": "text",
            "label": "Button label"
        },
        {
            "id": "section-story_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "section-story_text_color",
            "type": "color",
            "label": "Section text color"
        },
        {
            "id": "section-story_video_filename",
            "type": "text",
            "label": "Video filename (with extension)",
            "info": "Upload a video to assets"
        },
        {
           "type": "checkbox",
           "id": "section-story_hide",
           "default": false,
           "label": "Hide section"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
