@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes loadingVideo {
  0% {
      transform: translateX(-100%);
  }
  20% {
     transform: translateX(-75%);
  }
  44% {
      transform: translateX(-66%);
  }
  57% {
      transform: translateX(-57%);
  }
  80% {
      transform: translateX(-30%);
  }
  100% {
     transform: translateX(0%);
  }
}
