body, html {
    &.template-index {
        overflow: hidden;
        &.website--left, &.website--right {
            overflow-y: auto;
        }
    }
}

body {
    background: white;
    color: $text-color;
    .wf-loading & {
        * {
            visibility: hidden;
        }
    }
}

main {
    overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
}

.website {
    &.template-index {
        background: $black;
        &.website--left, &.website--right {

        }
    }
    &--initialized {
        #story-homepage {
            position: absolute;
            z-index: 2;
            top: 0;
            .website--left & {
                z-index: 1;
            }
        }
    }
}

.website--initialized.website--left #collection-homepage {
    z-index: 3;
}

.mobile-hidden {
    @media #{$rwd-mobile} {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}

%clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
