@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?532cyy');
  src:  url('icomoon.eot?532cyy#iefix') format('embedded-opentype'),
    url('icomoon.ttf?532cyy') format('truetype'),
    url('icomoon.woff?532cyy') format('woff'),
    url('icomoon.svg?532cyy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon, [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-green-left:before {
  content: "\e90b";
}
.icon-arrow-green:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e908";
}
.icon-left:before {
  content: "\e909";
}
.icon-right:before {
  content: "\e90a";
}
.icon-twitter:before {
    content: "\e907";
}
.icon-check:before {
    content: "\e902";
}
.icon-arrow:before {
    content: "\e900";
}
.icon-cart:before {
    content: "\e901";
}
.icon-fb:before {
    content: "\e903";
}
.icon-instagram:before {
    content: "\e904";
}
.icon-mail:before {
    content: "\e905";
}
.icon-pinterest:before {
    content: "\e906";
}
