body {
    @extend .body_text;
}

/* Text styles */

.heading_1 {
    font-family: $header-serif-font;
	font-size: 48px;
	font-weight: 500;
	line-height: 1.33;
    @media #{$rwd-sm-up} {
        font-size: 55px;
        line-height: 72px;
    }
    @media #{$rwd-lg-up} {
        font-size: 70px;
        line-height: 88px;
    }
}

.heading_2 {
    font-family: $header-serif-font;
    font-size: 42px;
    line-height: 56px;
    @media #{$rwd-lg-up} {
        font-size: 55px;
        line-height: 72px;
    }
}

.heading_3 {
    font-family: $header-serif-font;
	font-size: 34px;
	font-weight: 500;
	line-height: 48px;
    line-height: 1.41;
    @media #{$rwd-sm-up} {
        font-size: 37px;
    }
}

.heading_4 {
    font-family: $sans-serif-font;
    font-weight: bold;
	font-size: 20px;
	line-height: 1.6;
	letter-spacing: 4px;
    text-transform: uppercase;;
}

.heading_5 {
    font-family: $sans-serif-font;
    font-weight: bold;
	font-size: 12px;
	line-height: 1.71;
	letter-spacing: 4px;
    text-transform: uppercase;
    @media #{$rwd-lg-up} {
        font-size: 14px;
    }
}


.body_text {
	font-family: $main-serif-font;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.71;
    &--small {
        font-size: 12px;
        line-height: 16px;
    }
    &--medium {
        @media #{$rwd-lg-up} {
            font-size: 17px;
            line-height: 32px;
        }
    }
}
