<!-- /templates/cart.liquid -->
<main class="page">
    <div class="page__container">
        <h1 class="page__heading heading_1">{{ 'cart.general.title' | t }}</h1>
        <div class="cart">

            {% if cart.item_count > 0 %}
                <h4 class="cart__subtitle heading_4">{{ 'cart.general.subtitle' | t }}</h4>
                <form action="/cart" method="post" novalidate class="cart__form" data-cart-view="data-cart-view">
                <!-- Loop through cart products  -->
                    <div class="items">
                    {% for item in cart.items %}

                        <div class="item" id="{{ item.id }}">
                            <!-- Product image -->
                            <div class="item__image">
                                {% capture dashvariant %} - {{ item.variant.title }}{% endcapture %}
                                <img src="{{ item | img_url: 'large' }}" alt="{{ item.title | remove: dashvariant }}">
                            </div>
                            <!-- Product info -->
                            <div class="item__details">

                                <!-- Product title -->
                                <h5 class="item__collection heading_5">AW - CO</h5>
                                <h2 class="item__title heading_3">
                                    <a href="{{ item.url }}">{{ item.title | remove: dashvariant }}</a>
                                </h2>
                                <button class="item__remove">
                                    <span></span>
                                </button>

                                <div class="item__options">
                                    <!-- Item color -->
                                    <ul class="option option--color" data-label="{{ 'cart.label.color' | t }}">
                                        {% assign color = item.variant.option1 | split: '#' %}
                                        <li style="background-color: #{{ color[1] }}"></li>
                                    </ul>
                                    <!-- Item size -->
                                    <ul class="option option--size" data-label="{{ 'cart.label.size' | t }}">
                                        <li class="active">{{ item.variant.option2 | strip_newlines | strip_html | remove: ' ' }}</li>
                                    </ul>
                                    <!-- Product quantity -->
                                    <div class="item__quantity">
                                        <span class="name">{{ 'cart.label.qty' | t }}</span>
                                        <div class="value">
                                            <select class="selectric quantity">
                                                {% capture inventory %} {{ item.variant.inventory_quantity }} {% endcapture %}
                                                {% capture quantity %} {{ item.quantity | plus:10  }} {% endcapture %}
                                                {% if quantity > inventory %}
                                                    {% capture quantity %} {{ inventory  }} {% endcapture %}
                                                {% endif %}
                                                {% for i in (1..quantity) limit:inventory %}
                                                    <option data-inventory="{{ inventory }}" {% if i == item.quantity %} selected {% endif %}value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- Product total price -->
                                <h5 class="item__total heading_5" data-price="{{ item.price }}">{{ 'cart.label.total' | t }} <span>{{ item.line_price | money Currency.currentCurrency }}</span></h5>


                            </div>
                        </div>
                    {% endfor %}
                    </div>

                    <h4 class="cart__subtitle heading_4">{{ 'cart.general.summary' | t }}</h4>
                    <div class="cart__total">
                        <p class="heading_5">{{ 'cart.general.subtotal' | t }}</p>
                        <h2 class="heading_2 value">{{ cart.total_price | money Currency.currentCurrency }}</h2>
                    </div>
                    <div class="cart__checkout">
                        <button type="submit" name="checkout" class="button button--black">{{ 'cart.general.checkout' | t }}</button>
                    </div>

                </form>


            {% else %}
                <!-- EMPTY CART -->
                <h4 class="cart__subtitle heading_4">{{ 'cart.general.empty' | t }}</h4>
            {% endif %}

        </div>
    </div>
</main>
