<!-- /templates/collection.liquid -->
<main class="collection container">
    {% for product in collection.products %}
    <div class="collection__product">
        <a href="{{ product.url }}">
            <img class="image" src="{{ product.featured_image.src | img_url: '2048x2048' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
        <div class="info">
            <p class="collection-title heading_5">{{ collection.title }}</p>
            <a class="title heading_1" href="{{ product.url }}">{{ product.title }}</a>
            <div class="description body_text">
                {{ product.description }}
            </div>
            <p class="price heading_5">{{ product.variants.first.price | money }}</p>
        </div>

    </div>

    {% endfor %}
</main>
