<!-- /templates/index.liquid -->
<!-- HOMEPAGE -->
<h1 class="homepage__logo homepage__logo--small">
    <img src="{{ 'logo-white.svg' | asset_url }}" alt="American Woolen Company">
</h1>
<h2 class="homepage__logo homepage__logo--large">
    <img src="{{ 'logo-large.svg' | asset_url }}" alt="American Woolen Company">
</h2>

{%- include 'indicator' -%}

{% section 'section-homepage-collection' %}

{% section 'section-homepage-story' %}

{% section 'section-story' %}

{% section 'section-principle' %}

{% section 'section-history' %}

{% section 'section-process' %}

{% section 'section-steps' %}

{% section 'section-the-mill' %}

{% section 'section-team' %}

{% section 'section-product-featured-1' %}

{% section 'section-collection-collection' %}

{% section 'section-product-featured-2' %}

{% section 'section-collection-footer' %}
