<!-- /templates/page.contact.liquid -->
<main class="contact">
    {% section 'section-contact-header' %}
    <section class="contact__emails">
        <div>
            {{ page.content }}
        </div>
    </section>
        {% section 'section-contact-places' %}
    {%- include 'newsletter' -%}
</main>
