<!-- /templates/newsletter.liquid -->
<main class="page">
    <div class="page__container">
        <h1 class="page__heading heading_1">{{ page.title }}</h1>
        <div class="questions">
            {{ page.content }}
        </div>
    </div>
    {%- include 'newsletter' -%}
</main>
