<!-- /templates/product.liquid -->
<main class="product body_text">
    <section class="product__gallery">
        <div class="product__featured">
            {% assign featured_image = product.featured_image %}
            <!-- <img src="{{ featured_image | img_url: '2048x2048' }}" alt="{{ featured_image.alt | escape }}"> -->
            {% for image in product.images %}
                <div class="featured">
                    <img src="{{ image.src | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
                </div>
            {% endfor %}
        </div>
        <div class="product__thumbnails">
            {% for image in product.images %}
                <div class="thumbnail">
                    <img src="{{ image.src | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="product__info">
        <h1 class="product__title heading_3">{{ product.title }}</h1>
        <p class="product__price price heading_5"><span class="final-price">{{ product.price | money | remove: '.00' }}</span></p>
        <div class="product__description">
            {{ product.description }}
        </div>

        <!-- Add to cart form -->
        <form action="/cart/add" method="post" class="product__form">
            <!-- Lots of code for variants -->
            {% if product.variants.size > 1 %}
                <div class="product__variants">
                    <select class="product__select hidden" id="product-select-{{ product.id }}">
                        {% for variant in product.variants %}
                            <option value="{{ variant.id }}" data-image-url="{{ variant.featured_image.src | img_url: '2048x2048' }}">{{ variant.title }}</option>
                        {% endfor %}
                    </select>
                    {% for option in product.options %}
                        <div class="option-container">
                            <span class="name-label">{{ option }}:</span>
                            <!-- Code below is looking for hex color-->
                            {% if option == 'Color' %}
                                <ul class="product__option product__option--color option option--color">
                                    {% assign index = forloop.index0 %}
                                    {% assign colorlist = '' %}
                                    {% assign color = '' %}
                                    {% for variant in product.variants %}
                                        {% capture color %}
                                            {{ variant.options[index] }}
                                        {% endcapture %}
                                        {% unless colorlist contains color %}
                                            {% assign hex = color | split: ' #' %}
                                            <li {% if forloop.index == 1 %}class="active"{% endif %} data-value="{{ color }}" style="background-color: #{{ hex[1] }}" data-hex="{{ hex[1] }}"></li>
                                            {% capture tempList %}
                                                {{ colorlist | append: color | append: ‘ ‘}}
                                            {% endcapture %}
                                            {% assign colorlist = tempList %}
                                        {% endunless %}
                                    {% endfor %}
                                </ul>
                            <!-- Code below is listing all sizes -->
                            {% elsif option == 'Size' %}
                                <ul class="product__option product__option--size option option--size">
                                    {% assign index = forloop.index0 %}
                                    {% assign sizelist = '' %}
                                    {% assign size = '' %}
                                    {% for variant in product.variants %}
                                        {% capture size %}
                                            {{ variant.options[index] }}
                                        {% endcapture %}
                                        {% unless sizelist contains size %}
                                            <li {% if forloop.index == 1 %}class="active"{% endif %} data-value="{{ size }}">{{ size | strip_newlines | strip_html | remove: ' ' }}</li>
                                            {% capture tempList %}
                                                {{ sizelist | append: size | append: ‘ ‘}}
                                            {% endcapture %}
                                            {% assign sizelist = tempList %}
                                        {% endunless %}
                                    {% endfor %}
                                </ul>
                                <div data-app="eastsideco_sizeGuides"
     data-shop="{{ shop.permanent_domain }}"
     data-tags="{{ product.tags | join:',' | escape }}"
     data-metafields="{{ product.metafields.esc-size-matters.tag }}"
     data-popup="link">
</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Quantity select -->
            {% for variant in product.variants %}
                <div class="product__quantity" id="product-quantity-{{ variant.id }}">
                    <span class="name-label">{{ 'cart.label.qty' | t }}</span>
                    <select class="selectric">
                        {% capture inventory %} {% if variant.inventory_management == null %} 10 {% else %}{{ variant.inventory_quantity }} {% endif %} {% endcapture %}
                        {% if variant.inventory_quantity == 0 %}
                            <option value="0">0</option>
                        {% else %}
                            {% for i in (1..10) limit:inventory %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            {% endfor %}

            <!-- Add to cart button -->
            <button class="product__add button button--cart button--nina" data-cart-qty="1" data-variant-id="{{ product.variants.first.id }}" type="button" name="button" role="button" data-added="{{ 'products.product.added_to_cart' | t }}" data-adding="{{ 'products.product.adding_to_cart' | t }}" data-add="{{ 'products.product.add_to_cart' | t }}" data-soldout="{{ 'products.product.sold_out' | t }}">
                <div class="button__text button__text--initial" data-text="Add to cart">
                    <span>A</span><span>d</span><span>d</span> <span>to</span> <span>c</span><span>a</span><span>r</span><span>t</span>
                </div>
                <div class="button__text button__text--soldout" data-text="Sold out">
                    Sold out
                </div>
                <!-- <span class="button__add">{{ 'products.product.add_to_cart' | t }}</span>
                <span class="button__adding">{{ 'products.product.adding_to_cart' | t }}</span>
                <span class="button__added">{{ 'products.product.added_to_cart' | t }}</span> -->
            </button>
            <p>
                <a class="product__back" href="/collections/aw-co">Back to Collection</a>
            </p>
        </form>



    </section>
    <section class="product__zoom">
        {% for image in product.images %}
            <div class="zoom">
                <img src="{{ image.src | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
            </div>
        {% endfor %}
    </section>
</main>

<script type="text/javascript">
    var product = {{ product | json }}
    var cart = {{ cart | json }}

    new Shopify.OptionSelectors('product-select-' + {{ product.id }}, { product: {{ product | json }}, onVariantSelected: selectCallback });
    function selectCallback(variant, selector) {
        var product = $('#' + selector.domIdPrefix).closest('.product');
        var button = product.find('.button--cart');
        if (variant) {
            console.log(variant);
            $('.product__quantity .selectric-items li:nth-of-type(1)').trigger('click');
            product.find('.count__number').val(1);
            button.attr('data-cart-quantity', 1);
            product.find('.count__number').attr('data-inventory', variant.inventory_quantity);
            button.removeClass('button--disabled button--allin');
            product.find('.product__quantity').hide().filter('#product-quantity-' + variant.id).show().css('visibility', 'visible').removeClass('product__quantity--disabled');;
            if (variant.available) {
                updatePrice(product, variant)
                button.attr('data-cart-add', variant.id);
            } else {
                button.addClass('button--disabled');
                product.find('.count__number').val(0);
                product.find('.product__quantity').addClass('product__quantity--disabled');
            }
        } else {
            button.addClass('button--disabled');
        }
    }

    function updatePrice(product, variant) {
        product.find('.final-price').text(Shopify.formatMoney(variant.price));
    }


</script>
